[2017-05-14 01:46] bews opened #1168 "Autoreconnect bug"
It doesn't work. Again.

![2017-05-14_04-44-23](https://cloud.githubusercontent.com/assets/3627488/26030583/26dd3d10-3860-11e7-91b2-97abbb6608f5.png)

[2017-05-14 02:19] bews opened #1169 "Lounge crashes when there more than one IP in X-Forwarded-For header"
Lounge crashes when there more than one IP in X-Forwarded-For header if `reverseProxy = true`.

Fix: `ip = req.headers["x-forwarded-for"].split(",")[0] || req.connection.remoteAddress;`

Also there should be more checks for this header, regex maybe?

[2017-05-14 02:31] dgw commented on #1168
Related to (but different from) #917?

[2017-05-14 02:48] bews commented on #1168
It works at first disconnect, but fails on second.

[2017-05-14 05:20] #1151 closed

[2017-05-14 14:22] realies commented on #1155
Good point, it will end up signaling the server anyways. I will look into other ways of implementing it in the next few days.

[2017-05-14 19:29] astorije commented on #1155
Note that `chan.click();` will go to the server anyway, so I'd rather have something consistent with `/join`ing a new channel, unless I'm missing something (@xPaw?)

[2017-05-15 04:47] spencerthayer opened #1171 "Latest Lounge Won't Run"
$ npm start

2017-05-15 04:44:34 [INFO] The Lounge v2.3.0-rc.1 (node 7.10.0 on darwin x64)
2017-05-15 04:44:34 [INFO] Configuration file: /PATH/.lounge/config.js
events.js:163
      throw er; // Unhandled 'error' event
      ^

Error: listen EACCES 0.0.0.0:80
    at Object.exports._errnoException (util.js:1050:11)
    at exports._exceptionWithHostPort (util.js:1073:20)
    at Server.setupListenHan

[2017-05-15 06:18] astorije commented on #1171
It looks to me that you are starting on port `80`, which is a system port. Are you running `npm start` as root?

[2017-05-15 07:52] YaManicKill commented on #1146
Nah, this wouldn't solve it. The problem is with Chrome itself, and not with our CSS. The thing is that even using `inline-flex`, elements within it are neither block nor inline elements. They are, infact, flex elements. Inline flex still gives us flex elements, and it's just down to Chrome deciding what to do with copying text from multiple flex elements. Chrome inserts newlines, firefox does not

[2017-05-15 16:38] spencerthayer commented on #1171
Yeah as root.

[2017-05-16 00:30] astorije commented on #1171
It does seem like there is something already listening on port 80. Could you try with another version just to rule out this depending

[2017-05-16 00:44] spencerthayer commented on #1171
Do you have a suggested build I should try? I have been running 2.0.0-pre.6 without any problems.

[2017-05-16 00:48] astorije commented on #1171
Just 2.2.2

[2017-05-16 14:02] YaManicKill opened #1172 "Channels with "##" create invalid css class names"
The channels come with `chan-channame` class on them, but it seems to be done by just stripping off the first `#`. If a name is `##channame` you will end up with `chan-#channame` which can't be used in css at all.

This is probably a bigger issue than just that, as there aren't really any restrictions on what can go in a chan name (see [spec](https://tools.ietf.org/html/rfc1459#section-1.3)) but a

[2017-05-17 08:13] YaManicKill commented on #1022
This is broken again. Jquery is never returning true on container.is(":animated") anymore. We should probably try and figure out why.

[2017-05-17 08:50] bews commented on #1022
`container.stop().animate({` -> `container.stop(true, true).animate({` fixes this.

[2017-05-17 12:42] xPaw commented on #1022
It doesn't exactly fix scrolling while holding the key down.

[2017-05-18 11:51] MiniDigger opened #1173 "Link preview button shown on invalid links"
if a message contains `https://`, without an actual url, it will still show the button to expand the link preview.
running master (36 commits behind, some custom stuff), but avieks in irc could reproduce for 2.2.2.

[2017-05-18 11:53] Raqbit commented on #1173
Can reproduce here on 2.2.2

[2017-05-18 13:31] xPaw commented on #1173
Fixed in 2.3.

[2017-05-18 16:30] bews opened #1174 "Add option to autoreload on timeout or enable socket reconnect"
Notifications don't get through because of timeouts.

[2017-05-19 08:22] YaManicKill commented on #1146
Alright, let's push this to 2.3.1 for just now. I don't think we should wait on this for 2.3.0. We've waited long enough, and it won't be that big a deal, I think.

[2017-05-19 08:23] YaManicKill commented on #1022
As this is new functionality, how much do we care about it getting into 2.3.0? It could go into 2.3.1. It's not a hugely major bug, as it adds functionality rather than breaking old functionality. Thoughts?

[2017-05-19 09:11] bews commented on #1022
Have you tried it? Works for me.

[2017-05-19 09:34] Thumpxr commented on #961
Just as an update. I retried PM2 as screen was really unstable and still cant start lounge. Although now pm2 restart 15 times lounge and then goes to "errored" state.

Does someone else have no issues? I already tried a purge of pm2, npm, lounge, etc.
Running:
ubuntu 17.04
npm 4.6.1
pm2 2.4.6
lounge v2.2.2
nodejs 7.10.0

[2017-05-19 09:59] Thumpxr commented on #961
Well, i never told pm2 to "lounge start" .. only to "lounge", which resulted in the error due to many restarts. Resolved by "pm2 start lounge -- start" to pass the arg "start"

[2017-05-19 09:59] #961 closed

[2017-05-19 23:23] astorije commented on #1146
Agreed. I know I won't be able to spend time on this, so help welcome :)

[2017-05-19 23:25] astorije commented on #1022
I'm happy with this going to v2.3.1, @YaManicKill. @xPaw?

[2017-05-20 04:01] cmr opened #1176 "Insert a comma, colon, or other user-configurable string when tab-completing nicks"
This would only fire at the start of a line though. Lacking this makes it rather hard for me to get used to lounge.

[2017-05-20 06:33] astorije commented on #1176
Hi @cmr, welcome on The Lounge!

We have discussed in the past and have decided to keep it that way on purpose. Not adding or adding something after the nick would always offend someone, preferring nothing (I am a strong supporter of the current way) or a different character. Keeping it that way lets people add whatever they want instead to have to backspace.
In the end, it's just a matter of habi

[2017-05-20 06:38] astorije commented on #1174
I believe this is a duplicate of https://github.com/thelounge/lounge/issues/421. Make sure to include enough details to your issue so we are all on the same page.

Regarding the issue itself, that definitely won't be an option and should just work for everyone. However, as mentioned some days ago in the IRC channel, it is sadly not just about enabling socket.io's reconnect mode. I forget why but f

[2017-05-20 06:38] #1174 closed

[2017-05-20 06:39] astorije commented on #1171
@spencerthayer, could you fix this? I believe this has to do with your setup and not with The Lounge itself. @xPaw, do you agree? Are you seeing something on the output @spencerthayer pasted above that I'm not seeing?

[2017-05-20 18:11] YaManicKill commented on #1022
So, the problem with the fix suggested by @bews is that it seems to jump up a lot more when holding down the key. If you press multiple times, it works nicely, but it's very sudden and jumpy if you hold the key down (but it is at least much quicker than on master).

[2017-05-21 03:25] fatloner opened #1178 "New Messages popping up with no new messages"
New Messages popping up with no new messages.
Whenever someone joins or leaves, I get the New messages pop up, even though there are no new messages and I have join/leave messages off.

[2017-05-21 06:57] xPaw commented on #1178
This is a known issue.

[2017-05-21 06:57] #1178 closed

[2017-05-21 12:02] Raqbit opened #1180 "Link prefetch 404 will still get pushed to the client"
When someone posts a link with prefetch enabled, thelounge will copy the page's og:image meta tag url to get a thumbnail to show with the link description.
[Where this is done](https://github.com/thelounge/lounge/blob/master/src/plugins/irc-events/link.js#L58)
Normally this works fine, and thelounge will check the image size and everything.

But, if there's an issue with that url (it's relative to

[2017-05-22 11:30] synthetiq opened #1181 "Log setting per channel"
Would be great to have the option to enable channel logging for a specific channel, while NOT logging others.

Example would be to enable logging for a #privatechannel and doesn't have much traffic, while not logging for #ubuntu , which has much traffic and is logged already via external resources.

Nice to have.

[2017-05-22 16:43] MaxLeiter opened #1182 "remove auto-correct when full command/text-to-correct is typed"
if you dont use auto-correct and just type out a command, like `/part`, you need to hit enter twice. Auto-correct should notice when you type a full command

[2017-05-23 06:17] YaManicKill commented on #1182
So, valid point but 1 thing to note is that if we have a command that is a subset of another command (for example, /ban and /banlist, you aren't necessarily finished when you type "/ban").

I know lots of other apps do this by not autocompleting when you type enter, but sending the message. Autocompleting with <tab>. But I don't really like that.

[2017-05-23 06:32] MaxLeiter commented on #1182
or just if there's only one possible autocorrect?

[2017-05-23 07:52] YaManicKill commented on #1182
Yeah, I'd definitely be happy with that. If 1 autocorrect and it is fully typed, finish autocompleting.

[2017-05-23 15:45] TuSuNaMi commented on #1169
Any solutions?

[2017-05-24 01:37] bews commented on #1168
So, problem is in `irc-framework`, line `this.socket.end();`
I'll make a PR later, after some tests.

[2017-05-24 12:02] YaManicKill commented on #114
Ok, @thelounge/maintainers, let's get a decision on how we want to fix this, so someone can come along and do it if they want.

Are we happy with just showing the notice in the current active window?

[2017-05-24 12:07] YaManicKill commented on #512
According to the link posted by @astorije, everything supports MP3 (assuming the OS supports it).

With the MP3 patent having expired, it not being an open format is no longer an issue. Maybe we should change to MP3 now?

Of course, the other option is having mp3/aac as a fallback if the browser doesn't support ogg, but that feels a little unnecessary.

I see no reason not to use mp3 on this now.

[2017-05-24 14:01] YaManicKill commented on #1022
Right, let's drop this from 2.3.0, and push it to 2.3.1. Let's get 2.3.0 released.

[2017-05-24 14:15] YaManicKill commented on #1169
The fix that @bews suggested seems like the sensible one.

Regex could be as simple as https://regex101.com/r/vDPHb3/1 but that wouldn't cover ipv6 either. So we'd need something a little more complicated.

I think that the better solution is just to let the user put whatever they want in, put your fix in, and leave it at that. If a client is sending weird malformed headers, we are going to come a

[2017-05-24 14:16] YaManicKill commented on #1168
Alright, if it's an issue with irc-framework, I'll close this. We'll pull in the changes whenever irc-fw releases.

[2017-05-24 14:16] #1168 closed

[2017-05-24 14:18] YaManicKill commented on #1155
Bear in mind that chan.click() will do everything we need for dealing with unread notifications. And although it goes to the server anyway, it will do 1 less. If we emit join to the server, and then we change channel, surely that's 1 more call to the server than we need.

[2017-05-24 14:20] YaManicKill commented on #1147
I agree, actually. I have read the rational from @astorije in #1125 but I think that we should bring it back.

I accept that autocomplete should be intuitive, but I see no reason why we can't still have this documented in the help page. Plenty of people won't find ":", and it's not that uncommon for people not to automatically "@" a user. So, I say we bring it back. @astorije do you have any stron

[2017-05-24 14:56] TuSuNaMi commented on #1169
If client comes with IP address, lounge will crashing.
If come the forwarded cname there is no problem with @bews fix.

But if the search engine or some IP with no have the reverse dns. Lounge will crash again I seem ...

[2017-05-24 16:52] MaxLeiter commented on #1168
@bews could you make an irc-fw issue?

[2017-05-25 02:52] bews commented on #1168
https://github.com/kiwiirc/irc-framework/issues/96

[2017-05-25 03:27] bews commented on #1169
:confused: I still think there should be a proper check for this, otherwise anyone could crash your instance (which is a **big** issue for public ones). This header is accessed only in `getClientIp(req)` function, so checking there should be enough.

The proper fix is simple: check it with regexp (https://stackoverflow.com/questions/9208814/validate-ipv4-ipv6-and-hostname for example), and if it f

[2017-05-25 10:52] ronilaukkarinen commented on #754
Just tested it, still having the exactly the same identd `rolle@pulina.fi` in every lounge user which is the same than on my irssi.

[code]

The nick `rolletest` is not part of the ident at all, however it's written in the ~/.oidentd.conf file. Any idea on how to fix this?

[2017-05-25 12:08] YaManicKill commented on #1169
Oh yeah, I guess I didn't think about that. Good plan.

That regex looks horrible, but it needs to be complicated to actually work. I wonder if there's a module for common complicated regex like this.

[2017-05-27 19:31] slurdge commented on #1180
It also seems that if there is an error downloading, the res will be empty, causing all sort of troubles [here](
https://github.com/thelounge/lounge/blob/master/src/plugins/irc-events/link.js#L48)
However I don't see the error happing when I paste an invalid link inside lounge. So maybe the catch [here](https://github.com/thelounge/lounge/blob/master/src/plugins/irc-events/link.js#L92) isn't usefu

[2017-05-27 20:05] xPaw commented on #1180
This would be fixed by using an embed library, like I did here: https://github.com/thelounge/lounge/compare/xpaw/embed

[2017-05-28 14:14] modInfo opened #1186 "How to run lounge in node-webkit on Windows as IRC Client?"
How to run lounge in node-webkit on Windows as IRC Client.

I packed it to zip after build.
It packs into nw and does not work

git clone https://github.com/thelounge/lounge.git
cd lounge
npm install
NODE_ENV=production npm run build
zip -r ../lounge.zip *
mv lounge.zip to lounge.nw
on windows
copy /b nw.exe+app.nw app.exe

[2017-05-28 19:42] vectr0n opened #1187 "User list search resets when a client joins"
I was searching for users in the nick list in a large freenode channel when I noticed the search gets wiped out whenever someone joins the channel. I would assume this is due to the nick list being updated, but not sure if this was the intended behavior or a small bug.

`$ lounge --version
v2.2.2`
`$ node --version
v7.10.0`
`$ npm --version
4.5.0
`

[2017-05-28 19:46] xPaw commented on #1187
This is fixed in 2.3.

[2017-05-28 19:57] vectr0n commented on #1187
Ok thanks

[2017-05-28 19:57] #1187 closed

[2017-05-29 01:10] rohitpaulk commented on #774
Looks like this was done in #856 (https://github.com/thelounge/lounge/pull/856#issue-198107586)

[2017-05-29 01:21] MaxLeiter commented on #774
unless the result gif in #856 is outdated it wasn't fixed

[2017-05-29 01:28] rohitpaulk commented on #774
Oh - I thought I saw the headings get hidden in the gif, my bad

[2017-05-29 01:46] rohitpaulk commented on #774
Just checked - this is still broken on 2.2.2, but fixed on `master`.

Screenshots:

**2.2.2**:

![screen shot 2017-05-29 at 7 11 24 am](https://cloud.githubusercontent.com/assets/3893573/26534092/3ccfb640-443e-11e7-8d01-12cce048ca03.png)

**master (https://github.com/thelounge/lounge/tree/1f1b025)**:

![screen shot 2017-05-29 at 7 11 32 am](https://cloud.githubusercontent.com/assets/3893573/265340

[2017-05-31 16:07] ThoreKr opened #1192 "Channel restrictions"
We currently have the need to be able to restrict the client to join only channels matching a certain pattern.
To make to configuration as individual, and usable for others, as possible support for regular expressions would be cool.
I already asked for it on freenode, but maybe this is the better place for such a discussion.

[2017-06-01 23:12] realies commented on #1182
It would make more sense if autocorrect is not triggered by pressing enter but by going up once (or more) with the arrow up, highlighting the correction and pressing enter. On multiple occasions, I have had to go back and manually retype the command or channel that was autocorrected.

[2017-06-02 11:18] avieks opened #1200 "The input edit marker goes partly behind the keyboard"
![screenshot_20170602-131236](https://cloud.githubusercontent.com/assets/24987062/26723650/d7ca7aea-4795-11e7-99f8-54da80b29990.png)

[2017-06-02 17:56] wokawoka commented on #677
Is the translation support a planned feature?

[2017-06-02 20:56] dgw commented on #1200
Is the z-level of a system UI element even something the webapp can control?

[2017-06-03 15:59] wokawoka opened #1203 "webrtc question"
I can imagine that, being an IRC client, the lounge is not focused in implementing a mic/webcam function through webrtc, but I was just wondering if maybe this has at least discussed in the past.
If not, will the lounge one day be able to have some extra functions added trough plug-ins?

[2017-06-03 16:38] DanielOaks commented on #1203
On a side note we've been investigating it in IRCv3 for a while, but afaik nobody's come up with something that works yet. There is this related thread by someone who was looking into it as well: https://groups.google.com/forum/#!topic/mozilla.dev.chat/2lP0WZiflQI

[2017-06-04 15:11] xPaw commented on #1146
I've found that wrapping spans in an additional `<div>` fixes the issue. Because our `.message` has flex, it turns all non-blocks into blocks, and adding an additional wrapper does that.

[2017-06-04 15:17] YaManicKill commented on #1146
@xPaw Do you mean doing this:

[code]

That doesn't work, because we are still copying text across multiple blocks, which is why it inserts the newlines.

[2017-06-04 15:19] YaManicKill commented on #1203
If this were to ever be added to IRCv3, then we would add it to our roadmap (when we would get to it would be a different question). Until that happens, I think it's safe to say this will never be part of core. However, we (here we go) are working on a plugins system, and there would be nothing to stop someone making a plugin to have it work.

[2017-06-04 15:19] #1203 closed

[2017-06-04 15:21] xPaw commented on #1146
@YaManicKill just a single div around the spans.

[2017-06-04 16:28] YaManicKill commented on #1146
@xPaw Have you tried that here? It does remove that issue, but then they aren't displayed correctly, as we are using flex to arrange them on the screen.

[2017-06-04 16:29] xPaw commented on #1146
Yeah I noticed the layout got messed up, but I just commented here to give more info on the issue, and a possible solution we could end up using.

[2017-06-04 16:37] YaManicKill commented on #1200
I can't find anything about fixing this and I'm pretty sure we can't control this. But I'll keep it open till we are sure.

[2017-06-04 17:04] xPaw commented on #1200
Considering this doesn't happen in native apps, I'm assuming it's rendering this way as it thinks it's inside a scrollable container, so scrolling down would reveal more.

[2017-06-06 01:23] bews opened #1207 "Channel join error info doesn't mention channel name"
`Cannot join channel (+l) (channel_is_full)` - which channel? No idea, when this happens on reconnection.

[2017-06-06 21:09] MaxLeiter opened #1208 "jquery-textcomplete is no longer maintained"
superseded by https://github.com/yuku-t/textcomplete

[2017-06-07 07:08] starquake commented on #1112
Oh so this is why my config is disappearing all the time. I had issues on a server where I couldn't connect to a channel because "I had already joined" and I couldn't send a message because "I hadn't joined the channel". This happens sometimes, so I hit disconnect, to reconnect. Not knowing my config has been deleted. I would prefer better wording.

[2017-06-07 08:14] YaManicKill commented on #1112
Maybe it would be better keeping the config in the json, but setting a "autoconnect" to false so it doesn't reconnect, but if you do "/connect name" it'll reconnect and reset "autoconnect" to true?

I feel like maybe this would be less confusing, and more useful.

Having said that, the whole config on the server for what irc we connect to is all a bit disconnected from the frontend. We need to hav

[2017-06-07 10:45] dgw commented on #1112
That's what ZNC does, for example. Disconnecting does just that—it closes any open connection to that network and disables auto-connection until the user tells ZNC to connect to it again.

Separating the concepts of "disconnecting" and "deleting" a network would be great. (I swear this has come up before, but if so I can't find the thread.)

[2017-06-07 12:40] YaManicKill commented on #1207
Good catch, we probably just aren't sending the info to client and printing it. Shouldn't be too hard a fix, just need to find where it is.

[2017-06-07 12:44] McInkay opened #1209 "Invite 1 user to another user into channel doesn't show which channel"
When you get a notice about a user (who is not you) inviting another user (who is also not you) into a channel, it doesn't show you which channel it is.

[code]

Related to #1207, but possibly not exactly the same.

[2017-06-07 12:53] blueeyedboy opened #1210 "DNS HOSTNAME problem"
Hello, hope I know to explain the problem

So my problem is:

When a client connected at chat via Lounge server not resolve hostname

I have installed unrealircd4.0.x normal unreal accept hostnames becase when a client connected via other ways server resolve hostname.

example:

A client have hostname blabla.com when cilent connected via Lounge server not resolve host blablabla.com but show like t

[2017-06-08 06:51] astorije commented on #677
I would love to add that in the project, but as this is run by volunteers, no commitments were made. We would gladly welcome some help though :)

[2017-06-08 06:52] astorije commented on #774
This should be addressed by v2.3.0.

[2017-06-08 06:52] #774 closed

[2017-06-08 06:54] astorije commented on #1186
Hi @modInfo! This is a question rather than an issue, to which I can only recommend you post it on [Stack Overflow](https://stackoverflow.com/). Since it seems like a question not solely related to The Lounge, you would have more chances to get useful answers there.

Also, we do not have a tag on Stack Overflow, but I'm hoping that we will soon :crossed_fingers:

[2017-06-08 06:55] #1186 closed

[2017-06-08 06:56] astorije commented on #1171
@spencerthayer, I'm closing this now, assuming you got this to work. Feel free to re-open with details if it happens again with newly released v2.3.0.

[2017-06-08 06:56] #1171 closed

[2017-06-08 11:04] wokawoka commented on #677
Great. I would be eventually able to help with the Italian and/or Spanish translation. Just to start to take a look: are the interface text strings all listed in a single file or are they spread across different files?

[2017-06-08 17:19] #848 closed

[2017-06-08 20:53] spencerthayer commented on #1171
Nah. It never worked. I just gave up. I'm waiting to try the next version.

[2017-06-08 20:58] xPaw commented on #1171
@spencerthayer The crash you're seeing `EACCES 0.0.0.0:80` means node has no permission to bind on port 80. Try changing port to something higher than 1024. Are you completely sure that v2.0.0-pre.6 works in same environment but not later version?

[2017-06-09 01:56] infinityl00p commented on #1207
Hey, i'm a beginner and this would be my second contribution. I'd love to take on this issue but would probably require some guidance. Cheers @bews  @YaManicKill

[2017-06-09 03:27] JacobEdelman commented on #108
(curious if anyone is looking at this still)

[2017-06-09 04:39] astorije commented on #1207
[This](https://github.com/kiwiirc/irc-framework/blob/b54df53d4a7fcb357ad5af579e0a01410bfad89b/src/commands/handlers/generics.js#L73-L78) is where the info gets constructed. You probably want to intercept what gets sent from `irc-framework` and inspect the data that's coming back to see what's available. Does that make sense?

[2017-06-09 05:02] infinityl00p commented on #1207
@astorije yes thanks! will comment back or join the irc for future questions.

[2017-06-09 06:02] astorije commented on #1210
I'd like other @thelounge/maintainers to confirm this, but it seems to me that this is not an issue directly related to The Lounge.
If so, and if no one can help you here, you should probably ask your question on [Stack Overflow](https://stackoverflow.com) instead.

I'll close this issue for now if it's not something we can fix, and I'll let other maintainers re-open if they think I'm wrong.

[2017-06-09 06:02] #1210 closed

[2017-06-09 07:45] xPaw opened #1213 "Decide what to do with package-lock.json"
npm5 now automatically creates `package-lock.json` and suggests commiting it to the repository.

Should we commit it or add to gitignore for now?

[2017-06-09 11:36] YaManicKill commented on #1213
I think we should ignore it just now. It might be useful in the future, but for just now it'll just be noise I think

[2017-06-09 17:51] infinityl00p commented on #1207
@astorije how can i reproduce this error?

[2017-06-10 02:46] astorije commented on #1207
I'm not sure, I have never hit this. @bews, could you advise?

[2017-06-10 07:37] bews commented on #1207
@infinityl00p join new channel, set mode `+l 1`, start Lounge and try to join that channel.

Also you can ban youself and then try to join that channel - `Cannot join channel (You're banned) (banned_from_channel)` will be triggered, which has this problem too.

[2017-06-10 07:49] MaxLeiter commented on #1207
iirc, `irc-framework` doesn't pass any more data than the message/exception when an error like these occurs. Means we either need to PR irc-fw or just record this from the channel in the command. (there's probably more/better ways to go about it)

[2017-06-10 15:23] xPaw commented on #98
Fixed by #1141

[2017-06-10 15:23] #98 closed

[2017-06-10 21:38] MaxLeiter opened #1218 "Ability to view raw messages in client"
Would be helpful for debugging to be able to see the raw message. No clue how this should/could be implemented

[2017-06-11 20:18] lelutin opened #1219 "no UI for joining a new channel"
Hello,

the lounge's UI is generally quite enjoyable. there's one thing that I'm sure can be unsettling for users that aren't already used to IRC: there's no UI for joining a new channel.

I'd like to suggest either having some + button in the left section near/under a network's channel list, or have a "join channel" option in the channel menu shown under three vertical dots (top right).

this add

[2017-06-12 06:01] astorije commented on #512
I think your parenthesis is key here. I don't want to break this on some Linux distro.
It seems to me the safest route is OGG then fallback to MP3 or AAC (iirc, "fallback" is not even code, just multiple source files in the HTML).

Sounds reasonable?

[2017-06-12 12:29] christer88 commented on #1094
Agree with TuSuNaMi. This is something that should be fixed since it's that annoying meeting a person with a bunch of ?, and yes, it happens.. reguarly. It's also something that is fixed in both mIRC and other clients.

[2017-06-12 13:05] KwadroNaut opened #1220 "Remove help/settings after hitting it again"
When arriving at a 'lounge', hitting the settings or help before joining a channel leaves you with an unusable interface. ![lounge](https://user-images.githubusercontent.com/99527/27035122-7ad0e84a-4f80-11e7-9a06-7cba8564104c.png)
I expect to be able to hit (esc), find some X to click or when clicking 'help' again that it dissapears and I get back to the user preferences window to add channel and

[2017-06-12 13:06] clandmeter commented on #1176
Adding my comment here as I would like to have support for this with some config option.

[2017-06-12 13:17] YaManicKill commented on #1220
Good catch, this is why I had wanted the help window to be a modal, fwiw, @thelounge/maintainers as we wouldn't have this issue.

@KwadroNaut In the meantime, you can click the browser back button to get back to that, but I agree we need another fix for this.

Possible options:

1. Add a button for the initial page for adding network on this page (we appear to not have it here, but on every other

[2017-06-12 13:38] dgw commented on #1220
Making it a modal makes the most sense. Other apps I've seen with help dialogs, like Gmail, do so. Right here on Github, if you type <kbd>?</kbd> outside of an input field, you get a modal dialog with the keyboard shortcuts.

[2017-06-12 13:42] xPaw commented on #1220
Where's the `+` button on your screenshot? Clicking that would bring you back to connect window.

![12-134103088](https://user-images.githubusercontent.com/613331/27036616-15586228-4f8e-11e7-80a5-fd052d9c15f6.png)

[2017-06-12 13:58] KwadroNaut commented on #1220
Someone removed that intentionally in the gateway I tried. I didn't know. It adds a second network connection and doesn't simply add 1 channel. Making it modal would be much appreciated.

[2017-06-12 13:59] xPaw commented on #1220
Basically this is not a bug, but going to previous window when clicking the button twice might be of use.

[2017-06-12 14:09] christer88 opened #1221 "Auto-complete commands - one "press enter" too much"
Is it possible to remove the extra press-enter when I type a command that have the auto-complete list above? E.g. I type "/reconnect", press enter and press enter again to post it. This is one enter too much.

This doesn't seem to be the case for smileys.

[2017-06-12 14:09] xPaw commented on #1221
Duplicate of #1182.

[2017-06-12 14:09] #1221 closed

[2017-06-12 14:22] fnutt opened #1222 "Split windows"
mIRC, IRSSI etc. IRC clients let you split windows/views to see multiple channels at once. This makes it far easier to keep track of the activity in more than one channel, moderate chat in channels or just join the conversation in more than one channel at a time.

I have been informed there are Google Chrome plugins to split browser windows, and I know you can do this manualy by opening up TheLoun

[2017-06-12 14:28] christer88 opened #1223 "Undernet - issue with /connect on server-join every time"
Network created, connecting to ix.undernet.org:6667...
Disconnected from the network, and will not reconnect. Use /connect to reconnect again"

This happens every single time I connect to Undernet. It does not happen to any of the other five IRC networks I'm connected to, e.g. FreeNode, Undernet, EFnet,PrivNET, EsperNet etc. When this happen I have to do /connect and it connects to the network as

[2017-06-12 14:35] YaManicKill commented on #1222
So yeah, I think this is a good suggestion, but I have 1 thing I need to check what would be the best way to make it clear which window is active, and therefore which window the user list applies to (or do we have a userlist shown per split window?)

[2017-06-12 15:26] flyingfisch opened #1224 "Setting for tab complete for nicks to append `: `"
Instead of simply completing the nickname, have the option to append `: ` (or any other string) to the end if the nickname is the first word in the message.

[2017-06-12 15:27] xPaw commented on #1224
Duplicate of #1176 and several others.

[2017-06-12 15:27] #1224 closed

[2017-06-12 15:28] xPaw commented on #1176
@astorije, I think we should give in and make a setting for this which would default to empty (e.g. current behaviour). This should be relatively simple to implement, and there's a demand for it.

[2017-06-12 15:31] YaManicKill commented on #1176
I agree with @xPaw

Whether this should be in an advanced page, or whether it should just be in the normal settings is something we can bikeshed on this, but I think this should definitely be a feature. Happy to default it to empty, though.

Fwiw, the functionality should only insert the seperator if it is used on the first word in the input, as it is generally accepted behaviour, and people don't

[2017-06-12 15:52] astorije commented on #1176
As long as it defaults to the current state, I think I am ready to give up. Always amazed by this request though, literally no other messaging system I know let you configure that (Telegram, Slack, Facebook, Hangout, you name it) and yet us lacking it is described as an essential issue 😂

So, this is why I was not willing to care about this feature: I have seen all sorts of requests for this. Very

[2017-06-12 15:57] astorije commented on #1222
This most likely is a massive undertaking of both the client and the server. I don't believe we will get to the bottom of this anytime soon, unfortunately.

Also, I could swear someone opened a similar ticket in the past but couldn't find it...

[2017-06-12 16:09] astorije commented on #1220
Making it a modal would not solve it. Sure, it would hide the issue for the Help page, but the issue would remain for the settings or any other window we could make like that.
UX-wise, modals are reasonable when they are context-dependent. If the Help window was showing content based on where the user is (like in GitHub), then yes, a modal would make sense.

It might, but I can see how this could

[2017-06-12 16:32] christer88 commented on #1222
@YaManicKill I think having just one userlist is good IF we allow splitting up in more than two times. Could possibly add a border around the active channel?

[2017-06-12 17:56] YaManicKill commented on #1222
@astorije Actually, I don't think we will need many (if any) server edits. But maybe I'm being naive. Also I don't expect it'll be **too** difficult client side, but it'll still be a good chunk of work.

[2017-06-12 17:58] YaManicKill commented on #1176
I think the thing is, this is a pretty common IRC feature, but not in any other messaging sphere. And remember that what people like about IRC is the configurability of things. People who use IRC are nerds, and like to change things.

Sure, and there may be a point where we have to say no to this, or we can push it off to a plugin when we eventually do that, but I don't think it's a reason to say

[2017-06-12 18:31] xPaw commented on #1222
Userlist is inside the channel container, however the input bar is not. If we implement simple splitting, the user list would be kept per channel. If the input bar stays global, message will go into active channel (according to the server).

[2017-06-12 19:23] astorije commented on #1176
Fair points.
Question is then, first word in the message or all of them? What do people prefer / what's common in the IRC client sphere?

[2017-06-12 19:30] astorije commented on #1222
In terms of UX, Atom's drag and drop + split at will in a grid fashion is very clever and intuitive. It took them a few attempts to get it as intuitive though, they tried a bunch of solutions.

I cannot wait for a per-channel message input, probably one of the highest things on my wishlist, so that you can start typing in a window and change channels without posting (Telegram supports picking up o

[2017-06-12 19:56] YaManicKill commented on #1222
A single one, it's not hard to differentiate, because we have the placeholder which says the channel name :-)

[2017-06-12 19:56] YaManicKill commented on #1176
From the ones I have used, only first word is the most common I've seen.

[2017-06-12 21:05] DanielOaks commented on #1176
What I've come to expect when tab-completing nicks in IRC clients is:

- If the nick's the first word, append `: ` (colon + single space) after the nick.
- If the nick's somewhere else, append nothing or just a space after the nick.

[2017-06-12 21:10] astorije commented on #1176
So I'm on board with @YaManicKill's suggestion: setting for first word, nothing otherwise

[2017-06-12 21:47] MaxLeiter commented on #1176
#85 is slightly relevant

[2017-06-13 00:00] christer88 opened #1225 "Show the entire topic in channels"
![capture](https://user-images.githubusercontent.com/11909212/27060115-e6eb98a4-4fda-11e7-8270-ffdd2c9693d0.PNG)

Sometimes the topics in channels are too long to show as one line. This is especially an issue on phones and other small screens. Currently I see no way of being able to show the whole topic.

On IRCCloud you can click on the topic to see the topic (and modes for the channel). Would th

[2017-06-13 00:01] #1225 closed

[2017-06-13 05:59] YaManicKill commented on #1225
Just marking this as duplicate of #276

[2017-06-13 09:56] YaManicKill commented on #85
Alright, I think I want to bring this back up, as we are definitely getting to the point where our settings page is getting too big to just be 1 page.

Regarding how we structure the settings page, I think the mockup embedded in the issue (the dropbox link is dead, is it the same as the embedded image) is a good starting point. I'm not sure how I feel about having the General being a heading that

[2017-06-13 09:59] YaManicKill commented on #85
On a similar point, there is also the subject to discuss of server settings.

We have discussed syncing the settings across clients, but it would also be good if we can figure out a way to have server settings on the client as well. An example is the prefetch. If prefetch is disabled, we can't enable the auto-expansion on the client without editing the server settings (and restarting). This feels

[2017-06-13 10:01] astorije commented on #85
All this sounds very reasonable. I very much prefer option 2 as well. Also, I believe General was not collapsed by default, but it does when going to another tab. Not sure anymore, that was so long ago (also it was a dumb HTML mockup, no js involved).

Let me revive the mock-up when I'm on laptop. About to board a couple planes right now, can't make any promises before tonight or so.

[2017-06-13 10:11] YaManicKill opened #1226 "Show auto-expand checkboxes as disabled when prefetch is disabled"
If prefetch is disabled on the server, then we completely hide the auto-expand checkboxes. In at least 1 instance, someone has been confused about why they can't enable this, and I wasn't even sure why it wasn't there. I had to check, and it turns out their prefetch wasn't enabled.

I think we should show the checkboxes, but make them disabled (and off) and show a message explaining that their ser

[2017-06-13 10:15] YaManicKill commented on #85
That's cool, no rush, @astorije, but yeah if it's collapsed when you are in another tab, that sounds like a reasonable suggestion. We can certainly have a play around with different ideas.

[2017-06-13 10:24] YaManicKill commented on #85
That's cool, no rush, @astorije, but yeah if it's collapsed when you are in another tab, that sounds like a reasonable suggestion. We can certainly have a play around with different ideas.

[2017-06-13 11:52] YaManicKill commented on #512
I'm fine with ogg as default with fallback to MP3.

It would be code, as we do this in js [here](https://github.com/thelounge/lounge/blob/master/client/js/lounge.js#L36). It would just be a case of checking if [we can play the ogg](https://stackoverflow.com/questions/8469145/how-to-detect-html5-audio-mp3-support) and if not, selecting the mp3 instead. Not difficult.

[2017-06-14 14:05] YaManicKill commented on #1146
So, just to update here.

@xPaw found the bug on the chromium bugtracker, and it looks like they aren't going to fix it anytime soon. It appears css -> copy is completely undefined, which is why they do it differently.

So, as a horrible hacky fix (and because we wanted a way to add <> around usernames when someone copies it, I did #1227.

Enjoy.

[2017-06-15 12:53] starquake commented on #1223
Does this happen when you reboot the server and the service is started? Or does it happen everytime? Asking because I had that problem.

[2017-06-15 13:30] YaManicKill commented on #728
@astorije Can you remember what the issue was with that branch?

[2017-06-15 13:52] YaManicKill opened #1228 "Theme management"
Righty ho, I've been thinking about theme management, and I would like to discuss a couple of things. We have had a couple of discussions on the irc and other tickets (#85, #728) but I thought I would centralise the theme management. This is different to #85 because that is relating to the settings themselves. So I won't be discussing anything client side (unless it involves adding a theme).

So,

[2017-06-15 14:06] YaManicKill commented on #1228
The more I think about it, the more I'm liking just running `npm list -g --depth=0` and requiring anything with a set prefix, thumping that into our list of themes and sorted. It's nice for users, it should be easy to do.

[2017-06-15 16:24] PolarizedIons opened #1229 "Multiple spaces in messages not shown as such"
When there are multiple spaces in a message (like in motd ASCII art), lounge only shows it as one, messing up the alignment.

Example: lounge on the left and hexchat on the right, showing EsperNet's motd
![](https://i.imgur.com/jOupDen.png)

[2017-06-15 16:26] DanielOaks commented on #1229
This also affects the MAP command particularly – since multiple spaces don't get displayed as such, it pretty much becomes unreadable :P

[2017-06-15 16:31] christer88 commented on #1223
Happens every single time, also after I have restarted TheLounge.

[2017-06-15 17:51] ryzokuken commented on #510
I would love to give this a swing as my first contribution to a project.

Off-topic, but the organization I'm participating in Google Summer of Code for, Publiclab, uses lounge (http://chat.publiclab.org/)

[2017-06-15 18:20] YaManicKill commented on #510
Great, @ryzokuken, welcome. Feel free to swing by our irc channel (#thelounge on freenode) to chat through anything if you raen't sure. Our CSS is a little bit of a mess, so it would be nice to get it sorted out.

Awesome, that's really good to know. We should start a list somewhere of people using this.

[2017-06-15 18:30] ryzokuken commented on #510
@YaManicKill Awesome. I will fork the repo and join the channel for any queries. Thanks.

[2017-06-15 18:30] YaManicKill commented on #1229
Well, it's html, so no matter how many spaces you have next to it, the browser will show it as 1 space.

We'll want to replace them with non-breaking spaces.

[2017-06-16 08:13] YaManicKill commented on #1228
As discussed with @xPaw in the IRC, we thought it would be a good idea to go with a simple one first. Require people to specify the names of the themes they want to install in the config, and we can look into automatically searching for them later. It's a good first start, and we all like making small useful features first and making them better later. Don't let the perfect be the enemy of the goo

[2017-06-16 11:54] starquake commented on #1146
Seeing as you stopped working on #1227 how do you want to proceed? Would you like to override the copy in JS? Cause I would be okay to give it a shot.

[2017-06-16 12:43] starquake commented on #1146
Actually. I think you need JS regardless of how a browser copies stuff. Consider this:
![image](https://user-images.githubusercontent.com/1044544/27227024-f4e9ec3e-52a1-11e7-92b6-9c50e7864b81.png)
Do you really want this to be copied as:
`Hi!
14:41 <starquake> How are you?!
14:41 <lounge-user29>`

[2017-06-16 15:15] YaManicKill commented on #1146
Yes.

[2017-06-16 19:19] starquake commented on #1229
I think that breaks word-wrapping. May I suggest another fix? I think the correct way would be to use:
[code]
From MDN
[Sequences of whitespace are preserved. Lines are broken at newline characters, at <br>, and as necessary to fill line boxes.](https://developer.mozilla.org/en/docs/Web/CSS/white-space?v=control)

But that means all the texts going in that SPAN can not have newlines that aren't su

[2017-06-16 19:36] starquake commented on #1213
Reading [the purpose](https://docs.npmjs.com/files/package-lock.json) here I think it's useful to add this.

- Describe a single representation of a dependency tree such that teammates, deployments, and continuous integration are guaranteed to install exactly the same dependencies.

- Provide a facility for users to "time-travel" to previous states of node_modules without having to commit the dire

[2017-06-17 08:20] mestaritonttu commented on #1229
I tested with [KiwiIRC's next client](https://kiwiirc.com/nextclient/) and it has:

[code]

[2017-06-17 13:00] modInfo opened #1234 "Evolution of The Lounge (Gource Visualization)"
VIDEO: https://youtu.be/9mFwjLWlcwA

This visualization was generated with the following command:

	gource \
	--path path/to/repo \
	--seconds-per-day 0.15 \
	--title "dirsearch" \
	-1280x720 \
	--file-idle-time 0 \
	--auto-skip-seconds 0.75 \
	--multi-sampling \
	--stop-at-end \
	--highlight-users \
	--hide filenames,mouse,progress \
	--max-files 0 \
	--background-colour 000000 \
	--disable-bloom

[2017-06-17 18:35] dgw commented on #1234
This was filed as an issue, why?

[2017-06-18 08:11] #1234 closed

[2017-06-19 06:48] astorije commented on #1229
I could swear we've had this issue before, and fixed it! Is there someone courageous to look through The Lounge / Shout commit / PR histories? :D

(Interesting how in some ways it _really_ looks like The Lounge visually :D)

[2017-06-19 07:17] astorije commented on #512
Ah, right, I was referring to a comment @xPaw made [some time ago](https://github.com/thelounge/lounge/pull/844#issuecomment-269542107). If that's doable, then we would avoid checking this ourselves.

[2017-06-19 08:24] YaManicKill commented on #512
Well, the problem with doing that way (if it's possible, not looked into it) is that then we have an actual element on the page somewhere (even if hidden), whereas with the way that we currently do it, we just play it from JS, there is no element on the dom.

[2017-06-19 13:39] YaManicKill commented on #1213
@starquake Yeah, I get the advantages for it.

However, note this bit: `One key detail about package-lock.json is that it cannot be published`. This means that it will only be useful for people using git, it won't ever make it to the published npm package. So there's limited use in that.

We can still use this if people have problems, because npm will still create the file for everyone, so if we f

[2017-06-19 13:40] YaManicKill commented on #1218
I thought we had a PR to add raw message dub logging somewhere? Did that disappear? I'm assuming just logging would be helpful enough? No need to add it to the UI?

[2017-06-19 13:55] YaManicKill commented on #1229
Yes we did, and it just came full circle. It was fixed in #239

And I tried adding it back on locally and found ... that the bug we had with the table layout was caused by this (where it would wrap unnecessarily). It was then removed in #523 (specifically [this commit](https://github.com/thelounge/lounge/pull/523/commits/fb672ab57ff2a6d5ae8a54b2acef64d4e4354513)) so that makes sense.

[2017-06-19 14:08] starquake commented on #1229
@YaManicKill That happens because with pre-wrap, newlines get meaning and there are newlines in that part. And the newlines are there because there are newlines in the .tpl

I'm about to experiment with it and see if I can get a working situation. One that looks okay and also allows the expected copy+paste behaviour.

[2017-06-19 14:09] YaManicKill commented on #1229
Yeah, I literally just came to that realisation... that took me far too long to figure out.

Alrighty, well, I guess if we want to do that, we'll need to strip out the newlines from the tpls but that doesn't feel nice.

It would be nice if we could get a solution without having to do this.

[2017-06-19 14:11] starquake commented on #1229
How about letting the template parser remove all newlines in the template?

[2017-06-19 14:14] YaManicKill commented on #1046
Apparently I completely missed your replies, @astorije ... I must have had quite an email backlog.

Does that sound reasonable?

I don't like the idea of closing tickets while still having discussion on them, does that make sense.

However, having a  board for feature requests, and a board for bugs does sound like a good plan, that might be a good first step.

But of course, how does that differ f

[2017-06-19 14:30] YaManicKill commented on #1229
Aha, handlebars handles this.

From [here](http://handlebarsjs.com/expressions.html):

So we should just be able to add the '~' in the tpl and it'll remove the newlines when parsing. We will need to check that doesn't remove whitespace from the actual message (it says 'template whitespace' so that implies it won't to me).

[2017-06-19 15:08] starquake commented on #1229
Added
[code]
Editing tpl's and checking by hand... Not sure if everything is correct. Can't test kickban for example :-)

[2017-06-19 15:34] starquake commented on #1229
Remove `user-select:all`, as it has nothing to do with this.

Here's a pull request #1237. Was unable to test some of the templates. And there are still some issues:
`(dd23e3b1@gateway/web/thelounge/ip.221.35.227.177) has quit(Client Quit)`

[2017-06-19 17:25] xPaw commented on #1218
@YaManicKill Enabling `debug.raw` option will dump raw messages to lobbies.

[2017-06-19 17:31] astorije commented on #1218
And I would say that's more than enough, no?

[2017-06-19 17:32] xPaw commented on #1218
It is in my opinion.

[2017-06-19 18:04] YaManicKill commented on #1218
Ah right, that sounds like it should be good. Closing in that case. @MaxLeiter feel free to re-open if we have misunderstood, or there is something else you want.

[2017-06-19 18:04] #1218 closed

[2017-06-19 20:32] MaxLeiter commented on #1218
Well you need to either enable them for all users or for no users - a client side option would be helpful

[2017-06-19 23:05] astorije commented on #1213
Looking at https://stackoverflow.com/a/44323910, it doesn't seem like we'd want this indeed. A shrinkwrap might be a better option, but even then, I'm not 100% sure we need that.
Not a strong opinion either, I'm happy to try out anything.

[2017-06-20 05:04] astorije opened #1239 "Enforce prefetchMaxImageSize on preview thumbnails"
@bews noticed that thumbnails are not checked against this maximum size, as opposed to the picture previews.

He included a fix as a side-effect of https://github.com/thelounge/lounge/pull/1190 but the overall feature will not be part of the codebase, effectively losing this fix.

If anyone is willing to help, this should be a fairly easy fix.

[2017-06-20 05:15] #604 closed

[2017-06-20 05:29] astorije opened #1241 "Extract user link markup into its own template"
Pretty much everything that was done from [here](https://github.com/thelounge/lounge/pull/1096/files#diff-00cef5744f2794de41556145dc65f690) to the penultimate file changed in #1096.

@bews did this as a side-effect of a bigger change that will not make it into `master`, so essentially this issue to think of extracting this part of the changes into its own PR.

If anyone is looking for an easy win,

[2017-06-20 05:33] astorije commented on #512
That's fair, but I'm not too worried about an extra element in the DOM. If this makes the browser play the file it prefers, then I still think that's a nice win as opposed to capability-check this ourselves.

I don't have a strong opinion though, but I just thought that this was a rather nice (and still clean) trick.

[2017-06-20 06:15] YaManicKill commented on #1218
Ah right, I see. That doesn't sound ideal, but afaics, the way it currently works wouldn't work for a single user and we'd need a completely new way to do it?

[2017-06-20 09:57] peperunas opened #1243 "Change the application base url"
It would be great to add a configuration option to run thelounge under a path. As for version 2.3.1 this is not possible to do. This would be possible if there was a `BASE_URL` or `WEBROOT` rule or something like that.

For now, the webroot is set to `/` and it can't be changed.

[2017-06-20 10:01] YaManicKill commented on #1243
So, the easiest way to do this is by proxying with apache or nginx or something. That's how we recommend people do this (and run the lounge in general).

[2017-06-20 10:01] #1243 closed

[2017-06-20 10:15] #577 closed

[2017-06-20 10:18] #1071 closed

[2017-06-21 03:25] #1022 closed

[2017-06-21 04:02] astorije commented on #1146
Do you have a URL for this? I couldn't find it after a full 3-second search 😅

[2017-06-21 04:54] astorije commented on #1046
It makes sense, I understand, but to me the main difference is that cognitive overflow we're having now.

There is no way on Earth we could get to the bottom of the 172 open issues (as of today), and this number is only growing! 😢
I know personally I'm having a hard time with our issues, I cannot look at them for more than 5 minutes before getting lost and move on to something else (but maybe that

[2017-06-21 04:57] astorije commented on #728
Mostly, themes existing in 2 places makes it not obvious to select a theme from the UI. First step is to figure out a correct organization. Does that make sense?
EDIT: Actually, it surely does because I just saw #1228. It's a bit too late for me to get involved in it right now, but I will definitely share my thoughts there (unless we share the same ones, which is not impossible!) and get back to y

[2017-06-21 05:38] astorije commented on #108
Hi @JacobEdelman, unfortunately, no one is at the moment.

I'm still hoping @JocelynDelalande, in an ultimate act of passion, would add this one feature for us :D
Or at least, push everything we got in a PR so other people can take it from here?

Pretty pleaaaase! :)

[2017-06-21 07:44] YaManicKill commented on #1046
I definitely agree this needs to change, but my question is how would having a board work better for this? We wouldn't be inherently better at putting things on a board than labelling them.

Sure, but if we have 2 boards, 1 for bugs and 1 for feature requests, then how would that be any better than just clicking on a label and just seeing those?

Oh, I agree. If it's something we won't ever do, or

[2017-06-21 07:46] YaManicKill commented on #1146
https://bugs.chromium.org/p/chromium/issues/detail?id=573298

Merry Christmas.

[2017-06-21 15:06] SnowPhoenix opened #1250 "/list incorrectly ignores parameters"
Per [RFC 1459](https://tools.ietf.org/html/rfc1459#section-4.2.6), /list is supposed to support parameters. However, The Lounge simply returns the list of channels that would be obtained by using /list without any parameters, which can be a bit of a surprise to people attempting to use it with specific filter parameters  on larger servers.

Some servers allow things like `/list >50` to list only c

[2017-06-21 15:16] YaManicKill commented on #1250
Probably the best thing to do is just pass on the parameters to the server and see what happens. We have tried intercepting and being clever with previous ones and always found that it just ends up creating bugs or missing features.

[2017-06-21 23:11] #1213 closed

[2017-06-22 00:19] astorije commented on #1250
Agreed. It's also probably going to be a very easy win, if anyone wants to contribute :)

[2017-06-22 04:23] astorije commented on #1046
Totally not awkward, it's a good discussion I think. And again, you have some great points there.

First off, I'm not saying we *should* use GitHub Projects for feature requests, it was just an idea out there, not sure if good or bad yet, really. What we really need I think is an actual feature request board, with extra feature like voting, a real-time search when creating a new one (a bit like St

[2017-06-22 04:27] astorije commented on #1046
Actually, here is an idea: do you think it would be helpful to have [a template for our issues](https://github.com/blog/2111-issue-and-pull-request-templates)?

See [the Ansible one](https://raw.githubusercontent.com/ansible/ansible/devel/.github/ISSUE_TEMPLATE.md) as an example.

My one requirement would be to make it as simple as possible (and we can come up with one as part of this issue). Esse

[2017-06-22 19:46] PolarizedIons commented on #1180
Just leaving this here: we've found this is a problem with anonymous gist urls, for example this one:
https://gist.github.com/anonymous/3fb15454ab7fe7616d2cf3ab7788db80

[2017-06-23 06:10] astorije commented on #1162
This was handled differently than an option by #1246.

[2017-06-23 06:10] #1162 closed

[2017-06-23 10:17] xPaw opened #1258 "Do not show link previews if response code is not 2xx"

[2017-06-23 11:35] swordbeta commented on #1250
We already pass on any arguments to the list method as seen here: https://github.com/thelounge/lounge/blob/358852cecb53f0697f548d5b4df59377dc6c90bf/src/plugins/inputs/list.js#L7

However it's not used in irc-framework: https://github.com/kiwiirc/irc-framework/blob/1cc8892f6bf5414e677f0d37daa5984b77b58374/src/client.js#L556 introduced in this PR: https://github.com/kiwiirc/irc-framework/pull/48

[2017-06-23 11:45] stall0ne1337 commented on #1176
![Here is how IRC Cloud does it. I'm a fan, but should still be configurable.](https://user-images.githubusercontent.com/21053030/27480831-1ae61f52-581a-11e7-91bf-8c8fbf0424dd.gif)

[2017-06-23 14:58] YaManicKill commented on #1176
@stall0ne1337 Yup, I think that (along with the configuration) is what we are expecting. I might get to this next week after what I'm currently working on, but that all depends on that thing called life.

[2017-06-23 16:20] Varbaek opened #1259 "Feature request: Restore channel history, when leaving and rejoining a channel."
I tried searching for this, to see if it was already requested.

Basically, when I've been active in a channel, and leave it, and subsequently rejoin it, then I can't view the channel history in the browser?

I suspect it's currently only possible to view the channel history, by looking at the logs manually at this point in time?

[2017-06-23 16:25] PolarizedIons commented on #1259
related to issue #442

And yes, @Varbaek, lounge does not currently support loading messages from logs :\

[2017-06-24 06:02] foxtrot9 opened #1265 "lounge is installed as 'nobody' as its owner."
[code]

It should be owned by user who installed it. Here, `mit` should own it. Any reasons for not doing so?

[2017-06-24 14:24] YaManicKill commented on #1265
Hi, thanks for this, but this is definitely an npm thing, not a lounge thing. We don't control permissions on npm install. You can see discussion about that [here](https://github.com/npm/npm/issues/3849).

[2017-06-24 14:24] #1265 closed

[2017-06-24 21:09] blueeyedboy opened #1268 "notices on display at server linux not work."
Here is a problem with notices display not work on linux server.?

when a client write notice to an other can see notice only at status. this is really no good?

wanna to know how can i fix it?

[2017-06-24 21:15] dgw commented on #1268
I _think_ this is a duplicate of #114.

[2017-06-24 21:22] blueeyedboy commented on #1268
dgw, I'm interest to fix issue? if i can how.?

[2017-06-24 22:42] dgw commented on #1268
See the discussion in the linked issue. It's a change that would need to be made in the code, but the maintainers have not agreed on how/whether to change it.

[2017-06-25 05:28] #1268 closed

[2017-06-25 16:20] xPaw opened #1270 "Lazily load autolink images/previews"
Intersection Observer API can be used for this. https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

[2017-06-26 05:44] #1258 closed

[2017-06-26 05:46] #1180 closed

[2017-06-26 05:46] #1239 closed

[2017-06-26 05:49] #1241 closed

[2017-06-26 05:52] #1169 closed

[2017-06-27 04:11] astorije commented on #1250
@maxpoulin64, @swordbeta, mind taking a minute to raise this on `irc-framework` repo and to @prawnsalad if necessary?

[2017-06-27 04:13] astorije commented on #1259
Yup, duplicate of #442, and some beginning of work on this in #506 and #663. Stay tuned!

[2017-06-27 04:13] #1259 closed

[2017-06-27 11:09] swordbeta commented on #1250
@astorije Created an issue: https://github.com/kiwiirc/irc-framework/issues/101

[2017-06-28 13:15] rgarrigue commented on #464
+1

I'm specificaly looking for a way to avoid the flood caused by bot spamming link like github's issues closed

[2017-06-29 05:50] MaxLeiter opened #1285 "Switch to ^ semver with dependencies; don't pin versions"
From ljharb in ##javascript -

`
22:46 ljharb: pinning versions gives you worse than no security, because it gives you a false sense of security. always use ^ semver ranges. if you want a repeatable build in an app, use a lockfile.
`
`
22:47 ljharb: specifically, pinning a version doesn't pin anything about its subdependencies
`
`
22:47
ljharb: so pinning a version doesn't give you a guarantee tha

[2017-06-29 06:21] YaManicKill commented on #1285
No.

Sure, it doesn't pin subdependencies, that's fine. But it gives a certain level of reliability. We have had issues with builds failing because of silent updates, and although that can still happen, it hasn't happened since we pinned dependencies. It happened to me on several products and hasn't happened to me at all since I started pinning.

And we do get patches, because we use greenkeeper.

[2017-06-29 23:04] astorije commented on #1285
I'm 👎 as well. @xPaw, what do you think?

[2017-06-30 04:33] astorije commented on #1208
That new project isn't getting much traction, and it seems a bit too early to jump. What alternatives do we have?

[2017-06-30 10:39] YaManicKill commented on #1135
Closing as this isn't something we should do. If there needs to exist a JS solution, then someone can make it, but the lounge is not the place for that.

[2017-06-30 10:39] #1135 closed

[2017-06-30 10:41] YaManicKill commented on #1127
I've marked this as a bug because I agree that outgoing messages should show up somewhere.

I think we should probably show messages sent with "/msg". I get that it's not an irc thing that most clients do, but I think people expect this nowadays.

As for messages being in a different window than the main window, I definitely agree that should stay. Showing messages in a channel that not everyone c

[2017-06-30 10:42] YaManicKill commented on #1039
@notaduck any update on this?

Feel free to edit the wiki if you think it needs to change. Closing this just now.

[2017-06-30 10:42] #1039 closed

[2017-06-30 10:43] YaManicKill commented on #915
As @bews says, this can be done with custom highlights, and you will clearly see that there are messages in the server window. I don't think we want to be adding situations like this that always notify the user. Seems awkward.

[2017-06-30 10:43] #915 closed

[2017-06-30 10:45] YaManicKill commented on #77
Closing this just now. We have a module system now, and we have started work on themes (#1266) so we will get to this.

There probably needs to be discussion around how we deal with adding the plugins to the client without running the build, but those can come later, and this has been stagnant for a while. Will open issues for separate discussions when we need them.

[2017-06-30 10:45] #77 closed

[2017-06-30 10:54] YaManicKill commented on #1046
That could definitely be useful, yeah.

Yeah, that was my thoughts, really.

Yeah, I definitely get this. But there's a problem. A board can have issues, PRs and 'notes' on it. Issues still exist, and the only way it would make sense to have a board rather than a label would be if you could have things that weren't issues or the issues were closed. I am strongly against having feature requests tha

[2017-06-30 10:57] YaManicKill commented on #728
I have edited the name of this to make it more clear how we are going to come out of it. We have a PR up, #1266, for allowing themes via npm, which is nearing completion, and this issue will be closed when that happens.

[2017-06-30 10:58] YaManicKill commented on #1228
Closing this as the PR is up now (#1266) and #728 exists for an issue for this. Discussion to happen in 1 of those until this is completed.

[2017-06-30 10:58] #1228 closed

[2017-06-30 11:12] YaManicKill commented on #1200
Yeah, so this happens on every other website I have tried it on. It is a combination of the fact that the marker is included within the browser page itself, and the keyboard is above everything on the browser page, and because the input is right at the bottom of the page.

The only way we could fix this is by adding something below this so the text input isn't right at the bottom. Which we aren't

[2017-06-30 11:12] #1200 closed

[2017-06-30 11:15] YaManicKill commented on #651
I'm going to close this as on it's own it's not really something we can "fix". There are a number of things that are caused by this, and we are working towards them. So this is just something we need to keep an eye on.

[2017-06-30 11:15] #651 closed

[2017-06-30 11:56] YaManicKill commented on #885
I created kiwiirc/irc-framework#102 for this, as it got lost.

[2017-06-30 21:22] MaxLeiter commented on #66
Can this be closed?

[2017-06-30 21:23] MaxLeiter opened #1289 "Channel search"
Users should be able to search their current channels (i.e. like user searching, but on the channel sidebar) (Gitter, Discord, Messenger, etc. all support it/the equivalent of channels).

Will require a UI tweak, possibly somewhat major.

[2017-06-30 21:23] YaManicKill commented on #66
Yeah, it isn't fully finished, but it never will be. We are in a good place now.

[2017-06-30 21:23] #66 closed

[2017-06-30 21:27] dgw commented on #1289
Channel search as in what `/list` does with parameters on some networks (or messaging ALIS on freenode)? Or searching/filtering the list of channels joined, like how user filtering works?

[2017-06-30 21:32] MaxLeiter commented on #1289
Sorry for not being clear - like user filtering. I updated the description.

[2017-07-03 06:28] astorije commented on #1084
Uuuh this is really painful. Other examples of this at https://github.com/thelounge/lounge/pull/1256#issuecomment-312554455.

I have tried different ways to fix this, but couldn't find anything that wouldn't take 100% width when text does not go all the way.

@xPaw, do you have any idea about this?

[2017-07-03 06:33] #1173 closed

[2017-07-03 07:09] astorije commented on #1084
I have noticed #1256 makes this issue more visible because most titles are now smaller, which makes the whole truncated block smaller.

[2017-07-03 10:24] xPaw commented on #1084
Okay I figured the issue out. `float: left` on the thumbnail image is not pushing the width correctly.

[2017-07-04 16:54] #1084 closed

[2017-07-04 21:28] #1285 closed

[2017-07-04 23:52] MaxLeiter opened #1300 "Command + Up not working on OS X"
⌘ + ↓ works as expected in navigating down channels. However, ⌘ + ↑ does nothing.

Can't confirm if it's the same on Linux or Windows

[2017-07-04 23:56] #1300 closed

[2017-07-04 23:57] MaxLeiter commented on #1300
Problem was another program using the keybind

[2017-07-06 00:37] kode54 opened #1302 "URL parser does not stop on apostrophe, valid in certain parts of link?"
The following link:

[code]

Parses to include the 's in the link, which of course won't resolve.

[2017-07-06 09:00] Jay2k1 opened #1304 ""Show more messages" button becomes disabled after clicking it once"
When I scroll up to the oldest message and click the _Show more messages_ button, it loads some more messages as expected. I can't do that a second time, the font changes color on hover but it's not clickable and the cursor doesn't change to hand anymore. Inspecting the element, it becomes clear why: the button has the ```disabled``` property. When I remove it, I can successfully use the button to

[2017-07-06 09:01] YaManicKill commented on #1304
Can you confirm what version you are running, and what browser/os you are running it on?

[2017-07-06 09:07] Jay2k1 commented on #1304
The Lounge source (761dfbb) (node 6.11.0 on linux x64)

Issue reproducable in
* Google Chrome Mac 59.0.3071.115
* Firefox Mac 54.0
* Vivaldi Mac 1.10.867.42
* Safari Mac 10.1.1 (12603.2.4)
* Chrome Android 59.0.3071.125

[2017-07-06 09:39] PolarizedIons commented on #1304
This was fixed with #1068, can you update to master and confirm? 761dfbb is about 3 months old at this point.

[2017-07-06 09:53] #1304 closed

[2017-07-06 21:36] gramakri commented on #666
We hit a similar backtrace on the Cloudron app. Cloudron app also has LDAP enabled. https://git.cloudron.io/cloudron/thelounge-app/issues/1 has a similar backtrace.

[2017-07-06 21:50] gramakri commented on #666
@astorije Atleast one crash is easily reproducible. Simply press "Sign in" button with the username empty and LDAP enabled. The code crashes as below:
[code]

The reason is that in `client/js/lounge.js` form submit callback, the `user` property is not set at all when it's empty. This causes data.user on the server side code to be undefined and thus causes a crash.

[2017-07-06 22:50] astorije commented on #666
@gramakri problem with this is that none of the @thelounge/maintainers use LDAP nor have enough knowledge of it to maintain it properly.
We need help from the community to keep it working across evolution of the software. Would you or anyone else using The Lounge with LDAP be able to help us with that? No hard commitments needed, just be around to help with LDAP issues or making sure every now and

[2017-07-06 23:01] gramakri commented on #666
@astorije Sure, feel free to tag me for any LDAP related issues. We test it on lounge+ldap on Cloudron regularly, so any LDAP issue interests us.

As for this crash, I will send a PR.

[2017-07-06 23:04] astorije commented on #666
That's awesome, thanks @gramakri!
I'll assign you to any outstanding stuff regarding LDAP, feel free to not take all of them, but at least you will be aware.

@thelounge/maintainers, do we want a GitHub Project for LDAP stuff? Just curious.

[2017-07-06 23:04] astorije commented on #666
Actually, I can't assign you because you need to be issue author or team member, so I'll just Cc you for now.

[2017-07-06 23:06] astorije commented on #557
/Cc @gramakri

[2017-07-07 17:25] MaxLeiter opened #1311 "Notify user of new messages via document.title"
IRCCloud does this well - they prepend a `(+)` to the `document.title` when there are unread messages in the open buffer when the tab isn't focused.

https://github.com/erming/shout/pull/348/ tried to accomplish this in Shout.

[2017-07-07 18:37] MiniDigger commented on #1311
mmmh, as someone who has the tab pinned all the time, wouldn't it be possible to do that via the favicon?
chrome seems to have some kind of api and adds a small blue bubble to the lower right of the favicon
![https://i.imgur.com/wgbU5Sp.png](https://i.imgur.com/wgbU5Sp.png)

[2017-07-07 18:38] MaxLeiter commented on #1311
#246 then?

[2017-07-07 19:06] YaManicKill commented on #1311
The blue dot appears on chrome when the title of the page changes on a pinned tab, so that would work for you. Firefox also does something similar (flashes white I believe).

The other option is doing a slack and having 3 favicons, plain when everything is read, another colour when there are unread messages, and another colour for highlights.

Happy with either.

[2017-07-07 19:42] MaxLeiter commented on #1311
We do already have red for highlights, so maybe blue-tint for unread messages?

[2017-07-07 23:53] astorije commented on #1311
I've been willing to add something to the title for ages, never got to it. I think we're talking about 2 different improvements here:

- icon, so this works when pinned:
  - plain logo when no unread notifications
  - logo + discreet dot (gray?) when non-highlighted notifications
  - logo + more visible dot (red?) when highlighted
- title: "(123) #channel - The Lounge" where 123 could be either th

[2017-07-08 07:11] YaManicKill commented on #1311
A dot will probably interact badly with chrome due to chrome putting a dot on the pinned tab. A larger area being coloured would be better imo, like how we currently do it for notifications, and how slack does it.

But also if we are changing the title, remember that we won't need to change the favicon for unread at all, only notifications.

But other than that, yeah.

[2017-07-08 07:40] astorije commented on #1311
Huh?! I am using Chrome as my main browser and I have _never_ noticed this. Do you have a screenshot to share? I cannot find examples on Google Images.

Sorry, I'm not sure to understand what you mean, could you rephrase please?

[2017-07-08 08:00] YaManicKill commented on #1311
Check out @minidigger 's image.

When you have a pinned tab in chrome, and the title changes (in this example, because there are unread messages) chrome puts a little blue dot on the tab (as in the image above) until you visit the page. Firefox flashes the tab white in this example as well, I believe.

So, if we are changing the title, chrome creates the dot that we would be creating, if that make

[2017-07-08 09:04] xPaw opened #1313 "Keep track of nick auto completion order on the server"
We currently sort it on the client when messages are received, which means the order is lost on page (re)loads.

We will need this to reduce traffic (e.g. #1194), and consistent sorting across devices and page loads.

This probably can be implemented by adding `lastMessage` timestamp on user object in channel, and updating it when a message is received on the server. Later this timestamp can be us

[2017-07-08 15:12] astorije commented on #1313
As a feature, I'm already not a fan of this ordering. It's nice to have the last 2-3 "talking nicks" available when hitting <kbd>Tab</kbd>, but it's frankly niche that we have to keep a precise order of everything. I do believe that the new autocomplete dropup helps a lot answering the underlying usability concern, and IMO #1086 will make this even nicer.

That being said, since people do apparent

[2017-07-08 16:08] xPaw commented on #1313
This should be accomplished in about 2 lines of code on the server (1 variable definition on user object, and 1 to update it in message event).

[2017-07-08 22:28] dgw commented on #1311
I'm almost positive that @MiniDigger's example is part of the webapp in use, not Chrome. I run several pinned tabs at all times (Gmail, GitHub, Plex, etc.) and have never seen a blue dot like that.

[2017-07-09 00:42] astorije commented on #1311
Yeah, I have never seen that blue dot either, even with several pinned tabs (latest Chrome, macOS).

I also looked if there was an HTML directive or something to disable this on Chrome (similar to the directive to set theme color) so we can control this consistently on our end, but couldn't find anything. :man_shrugging:

[2017-07-09 01:03] astorije commented on #1313
Okay so maybe I misunderstood your original issue: with `lastMessage`, are you trying to only store the most recent message/nick? So if nicks are a, b, c, d, and b is saying something, order will be "b, a, c, d"; after that, if d says something, b gets "forgotten" and order is "d, a, b, c"?

[2017-07-09 07:36] MiniDigger commented on #1311
I also get this one Twitter for example. Not at M PC rn but I hope that I can send more examples tomorrow.

[2017-07-09 08:20] xPaw commented on #1313
It would store when each user sent their last message.

[2017-07-09 14:14] YaManicKill commented on #1311
I'm surprised you guys have never seen it before other than @MiniDigger

So, I managed to add it to the lounge.

I added 1 line of code: `setInterval(() => document.title += "test", 100);`

Every 100ms it will add `test` to the title, and this appears

![screenshot from 2017-07-09 15-11-58](https://user-images.githubusercontent.com/2162657/27994605-31679cd2-64b9-11e7-8c82-64c688ec0dab.png)

Magic.

[2017-07-09 18:49] dgw commented on #1311
Huh. What platform, @YaManicKill?

[2017-07-09 19:02] xPaw commented on #1311
We shouldn't rely on browser behaviour to do this for us though. Favicons with 3 states is probably the best way of doing this.

[2017-07-09 19:14] YaManicKill commented on #1311
It happens for me on Linux and Windows.

As I mentioned, it only happens when the title changes, if the apps you have pinned don't change their title when you aren't on the tab, it won't happen for you.

Yeah, that's a fair point. But we do need to take it into consideration and not use a dot (or if we use a dot, not at the lower right) because that'll either look really bad or be confusing.

[2017-07-09 20:02] christer88 opened #1316 "Channel tab-complete "rotation""
When you type the first letter in a nick and pressing tab-key, if there are more users with the same letter it lets you go trough all of them by pressing tab-key multiple times. This doesn't happen with channels when you type #, and # and the first letter etc.

This would be a very nice feature, and highly appreciated by me.

[2017-07-09 20:04] xPaw commented on #1313
Just realized this is a dupe of #289

[2017-07-09 20:04] #1313 closed

[2017-07-09 20:05] xPaw commented on #289
Noticed we had this already.

My suggestion was:

[2017-07-09 20:05] xPaw commented on #1316
This is because nick completion by pressing tab is backed up by a different library at the moment. So we technically have 2 separate ways of completing the nick.

[2017-07-10 02:40] dgw commented on #1311
Oh, hmm. @astorije and I are both observing on Mac. I'll have to keep an eye on it next time I'm in Chrome on Windows.

[2017-07-10 10:58] xPaw commented on #289
This is fixed by #1194

[2017-07-10 13:01] xPaw commented on #1302
This is a URI.js issue, can you create it there? https://github.com/medialize/URI.js

[2017-07-10 13:07] christer88 commented on #1176
I strongly do not want this to be implemented! It's so annoying to have to remove the space and colon after using nick tab-complete. This also includes nick tab-complete at the start of a sentence. Typing the colon when you need it is way easier.

If this is implemented there must be a way to turn it off.

[2017-07-10 13:12] YaManicKill commented on #1176
@christer88 We have already agreed that it will be off by default, but there will be a text input for users to choose what they want to do.

[2017-07-10 21:37] astorije commented on #1302
@xPaw, do we want to add a test case (not enabled or merged for now) even though this is an issue on their side? It would still be nice to "monitor" this.

[2017-07-11 02:08] kode54 commented on #1302
Hope this is enough.

medialize/URI.js#339

[2017-07-11 10:08] xPaw commented on #936
@chrys87 Have you had a chance to test this?

[2017-07-12 00:20] kode54 commented on #1302
See? It's not an issue upstream, it's an issue with how you're using the library.

[2017-07-12 00:34] xPaw commented on #1302
We are using the library precisely how he suggests, but he wants us to do filtering on our side.

[2017-07-12 05:06] astorije commented on #1302
I think his answers were fair though, no?
If my (probably shitty) suggestion of checking TLDs is not possible, do we want to use `URI.findUri.trim` like he suggests, at least for apostrophe (and maybe others?)?

[2017-07-12 11:02] chrys87 commented on #936
Sorry not yet.
a lot of stuff is going on in biz :).
i try to hurry up with testing.

[2017-07-13 10:16] xPaw commented on #276
If someone wants to jump on this, it should be possible to make topic scrollable by making the `.header` a flex element, topic `contenteditable` and set `overflow:auto; white-space:nowrap;` on it.

[2017-07-14 17:48] bews opened #1331 "Backslash is not escaped in username"
![2017-07-14_20-37-49](https://user-images.githubusercontent.com/3627488/28223876-b6f67484-68d5-11e7-9f52-970e665d0e55.png)

[2017-07-14 18:08] bews commented on #1331
This issue from #1166, closing.

[2017-07-14 18:08] #1331 closed

[2017-07-14 19:07] MaxLeiter opened #1333 "Remove embed arrow background on morning (and other themes?)"
![image](https://sr.ht/Nxwy.png)

same issue that @astorije fixed in #1324

[2017-07-14 23:32] astorije commented on #276
I would like to have it expand/collapse on click, with a max height, then scroll the rest if too big. But yeah, what @xPaw describes would be an acceptable first step if someone wants to try something simpler than my solution.

[2017-07-15 03:59] rastaval opened #1337 "reCaptcha"
is reCaptcha possible to be implemented? thank you! :)

[2017-07-15 04:03] MaxLeiter commented on #1337
In public mode? I guess it could see use, but until registration exists it doesn't make a ton of sense to implement.

[2017-07-15 08:42] #1333 closed

[2017-07-15 10:23] rastaval commented on #1337
The configuration of my lounge is on public. And i dont want to make it private coz it is being associated to my site. But a lot of ip's are scanning my lounge, just connect and quit (spamming my irc room with joins and quits). So I wish to put recaptcha on it.

[2017-07-15 17:02] MaxLeiter commented on #1337
If you hop on IRC I can walk you through setting
It up

[2017-07-15 17:13] rastaval commented on #1337
I'm there. Thanks a lot.

[2017-07-15 23:42] bews commented on #1270
Terrible idea, especially for mobile with unstable connection. I really hate such stuff (on twitter for example), because you can't even properly read loaded messages without connection. Also, you need to wait for each image to load, instead of loading them in background. Strong :-1: for this.

[2017-07-16 12:12] kurobeats opened #1339 "All networks removed when closing tab"
Unsure if this is by design but after setting up all connections (roughly 10) to a ZNC bouncer and was satisfied with the functionality, I closed the tab to use later. When I navigated back to lounge, everything was gone and I was required to connect all networks again.

Am I missing a command or setting on the server that I am required to set to save networks/perform auto connects?

[2017-07-16 12:13] christer88 commented on #1339
Is your Lounge configuration set to private mode?

[2017-07-16 12:15] kurobeats commented on #1339
I don't believe so. Where is this setting? config.js?

[2017-07-16 12:20] christer88 commented on #1339
/usr/lib/node_modules/thelounge/
You can type 'whereis lounge' to see the path.

[2017-07-16 12:22] xPaw commented on #1339
The config is going to be in `~/.lounge` if you did not use `--home`. You can use `lounge config` to open it in the editor.

[2017-07-16 12:22] #1339 closed

[2017-07-16 21:26] astorije opened #1342 "Un-focus input message when image viewer is opened"
This describes a tiny issue that will happen once #1325 is merged.

I couldn't find how to quickly fix it, and @YaManicKill suggested to open an issue and stick its number along with the TODO so we keep track of it, so here we go.

[2017-07-17 04:55] astorije opened #1343 "URL parser adds preview placeholder divs within the part/quit reason"
Since #1303, "placeholder" `div`s get added in the middle of the message, because of [`parse` being called inline](https://github.com/thelounge/lounge/blob/9735f2b7a112635c4e75ba8d958e3569cb3c3b24/client/views/actions/part.tpl#L5). This causes line breaks like the following:

<img width="564" alt="screen shot 2017-07-17 at 00 44 47" src="https://user-images.githubusercontent.com/113730/28255783-6c

[2017-07-17 08:03] xPaw commented on #1343
Easiest way to fix would be to make `.preview` hidden until it gets content loaded.

[2017-07-17 13:20] z0rc opened #1344 "Allow hiding version number from CTCP VERSION response."
See similar discussion at https://github.com/znc/znc/issues/820, especially developer's comment at https://github.com/znc/znc/issues/820#issuecomment-70565311.

[2017-07-17 14:09] christer88 commented on #1344
Not just hiding, but changing it to a custom one would be a nice addition.

[2017-07-17 15:14] astorije commented on #1343
In this spirit, `.preview:empty { display: none; }` would probably do the trick. But it would be really nice to do this differently, just not sure how.

[2017-07-18 04:31] astorije opened #1346 "URLs passed in /me do not prefetch after refresh anymore"
This was most likely caused by #1303. Sorry :man_shrugging:

[2017-07-18 07:57] loconox opened #1349 "socket.io 400 bad request"
Hi,

I'm using lounge behind a nginx reverse proxy and a varnish cache (not sure if it may cause the issue). I want use websocket and not the pulling method but it seems that there is an issue somewhere. In my browser log I got this:
[code]
and next, it's fallback to the pulling method:
[code]
When I try to connect directly on the 9000 port with `ssh -L` tunnel everything is working.
My nginx conf

[2017-07-18 08:26] bews commented on #1349
Lounge works behind nginx fine, problem is in your config.

If you want to use `ssl`, then you should use it all the way through:
`proxy_pass httpS://127.0.0.1:9000/;`

Lounge also should be configured in ssl mode.

[2017-07-18 08:29] xPaw commented on #1349
@bews This is not true and not required.

@loconox You have 2 different server blocks. I assume the one with port `8080` works fine as it hits Lounge directly avoiding Varnish? You should show your Varnish config and make sure it is configured correctly, like so https://www.varnish-cache.org/docs/3.0/tutorial/websockets.html

[2017-07-18 08:53] loconox commented on #1349
@xPaw I have added varnish conf for websocket but this doesn't change anything
Varnish conf:
[code]

Architecture summary:
[browser] = TLS => [nginx:443] = clear => [varnish:81] => [nginx:8080] => [node:9000]

I've just tested every block I have.
- directly node on port 9000 => **ok**
- in clear HTTP to nginx on port 8080 => **ok**
- in clear HTTP to varnish on port 81 => **ok**
- in HTTPS to ngin

[2017-07-18 08:54] xPaw commented on #1349
That seems like an overly complicated setup. Why is the varnish hitting nginx again? In fact, why do you need varnish at all in this setup?

[2017-07-18 08:57] xPaw commented on #1349
I just tried visiting `http://webirc.jeremielibeau.fr:8080/` which does have working websockets. This is either an issue with proxying via so many steps, or varnish is breaking it. Either way, this is not an issue with The Lounge, and we can not fix it.

[2017-07-18 08:57] #1349 closed

[2017-07-18 08:58] loconox commented on #1349
Ok thanks for your help.

[2017-07-18 09:52] bews commented on #1349
It didn't work (error 500) until I made that change, also this advice helped another person on IRC.

[2017-07-18 09:56] xPaw commented on #1349
@bews TLS is terminated on nginx site, there is no reason to do another TLS request locally (nginx->lounge), as http will do just fine. nginx has the decrypted request, and it can perform a proxy request using plain http (there is no reason to encrypt localhost requests). I know for a fact The Lounge works just fine like this.

Your error 500 is most likely an unrelated misconfiguration.

Here's d

[2017-07-18 09:58] loconox commented on #1349
@bews I'm using nginx as TLS termination and it's working well. In this case, you should configure your backend, node for instance, in clear http.
For the record, I finally decided to remove varnish from my setup and put  node directly after nginx as follow:
[code]
Not sure which was the issue, maybe linked with headers ...

[2017-07-18 10:00] loconox commented on #1349
@xPaw Could you please remove my domain from you previous message. Thanks :)

[2017-07-18 12:44] #1346 closed

[2017-07-18 12:44] #1343 closed

[2017-07-18 14:09] xPaw opened #1351 "Incorrect mode in kick message for target"
`lounge-user27` takes `@` from `xPaw` which is wrong. In server code it should look up correct mode for the kicked user, and template needs to display it correctly.

[2017-07-19 06:06] astorije commented on #1229
Fixed by #1242

[2017-07-19 06:06] #1229 closed

[2017-07-19 07:33] easymac opened #1355 "Open emoji autocomplete menu after two characters have been entered (instead of just the leading colon)"
Example: Typing `:` currently opens the menu and selects 💯.
Instead: Do not open the menu until the leading character (`:`) and two additional have been entered.

When attempting to send a message that ends in an emoticon, the emoji menu attempts to autocomplete and replaces the emoticon with an emoji.

The user is required to either hit `ESC` after typing their emoticon or, as often happens to me

[2017-07-19 14:20] astorije commented on #1355
👍 I would like this change to happen, but we have to keep in mind that the following emoji will not be available anymore:

[code]

A solution I see for that is to force-open the completion dropup when hitting Tab, so that typing `:x` then hitting <kbd>Tab</kbd> would open a single suggestion, pre-selected, for ❌
(Interestingly, I just noticed with this comment that GitHub does what we do currently

[2017-07-19 14:38] starquake commented on #1355
Why not open up a single selection when entering `:x: :o:`

[2017-07-19 17:01] xPaw commented on #1355
@starquake That probably would work, yeah.
@MaxLeiter do you want to take this?

[2017-07-19 18:44] MaxLeiter commented on #1355
So, if we make it two characters **after** the `:`, that will remove emojis autocorrecting such as `:+1` (:+1:)  and `:ox` (:ox:)

[2017-07-19 18:52] xPaw commented on #1355
@MaxLeiter the idea is to make it 2 characters including the colon. So `:ox` is 3.

[2017-07-19 21:17] MaxLeiter commented on #1351
Can be closed as of #1352

[2017-07-19 21:18] MaxLeiter commented on #1344
Could we detect if ZNC is being used and change the VERSION based on that?

[2017-07-20 05:15] astorije commented on #1344
I'm not sure we want some ZNC-specific parts in our codebase. What do @xPaw and @YaManicKill think?

[2017-07-20 05:26] NinjaBanjo commented on #480
Any update on progress with this? There seems to be a note that sasl was broken in the framework being used, but it seems to have since been resolved. can we get documented support? that issues appears to have been resolved in december 2016

[2017-07-20 07:26] clandmeter commented on #1097
This would be an interesting feature for me. I always have all "Show X messages" disabled (i like a clean backlog). It would be nice if we could directly see from the backlog if a user is still available. Maybe add a setting (#85) to set a custom opacity level.

[2017-07-20 12:10] z0rc commented on #1344
I'm not sure how this is related to ZNC _usage_, what I referenced is a similar case for somewhat similar IRC daemon.

[2017-07-20 19:05] MaxLeiter commented on #1250
This has now been fixed in irc-framework; now just needs to be released

[2017-07-20 23:21] astorije opened #1357 "Preserved whitespaces are causing issues with previews"
#1242 broke a few things related to previews:

1. The toggle button now triggers a new line. This is due to jQuery's `after()` that inserts a new line instead of inserting on the same line. I tried to look into this without much luck.
2. Image previews have empty lines above/below them.
3. When collapsed, image previews still show an empty line.

These are shown in the following screenshots:

<img

[2017-07-20 23:24] astorije commented on #1357
@xPaw, could you take a look at the first bug here? I tried to fix it but didn't succeed...

[2017-07-21 05:33] MiniDigger commented on #1357
Uuh, I thought it's a bug in my theme since I was playing around with that yesterday after updating my instance.
I couldn't find any fix however.

[2017-07-21 05:45] astorije commented on #1357
I am actually fixing bugs 2 and 3 as part of #1353 but bug 1 is still unknown to me.

[2017-07-21 11:00] PolarizedIons opened #1360 "'Zalgo' text overflows on mobile"
On Desktop: ![](https://i.imgur.com/xH02P5z.png)

On Mobile: ![](http://i.imgur.com/kZvY9XH.jpg)

[2017-07-21 14:25] #289 closed

[2017-07-21 18:33] callahad commented on #1311
The two aren't mutually exclusive. :)

I'd love to see a `(+)` or count prepended to the tab title. It would be useful in its own right, but would *also* let browsers hint to the user that there's something new. And since the hint appears outside of the favicon itself, it's significantly easier to scan at a glance.

Compare without:

![screenshot](https://user-images.githubusercontent.com/24193/28

[2017-07-22 03:01] #1360 closed

[2017-07-22 05:24] #1357 closed

[2017-07-23 13:45] dgw commented on #835
Not gonna lie, I hope this hits the top of the roadmap soon. Catching up on backlog from overnight is way more effort than I'm usually willing to expend without this. :laughing:

[2017-07-24 21:12] gfriloux commented on #371
Hello, many IRC clients supports to set encoding per-chan.
This means it expects to read AND write to this encoding.
And this is actually used by some users.

I can name you at least one channel that enforces the use of ISO-8859-15 to all its users as this is the most common encoding (supported by EVERY OS, and some OSes does not support UTF-8 fully). This is a long time rule that is still maitain

[2017-07-24 21:30] xPaw commented on #371
Serious question, how old does an OS have to be to not support UTF-8?

[2017-07-24 21:38] gfriloux commented on #371
For example : https://wiki.netbsd.org/unicode/
and you're not immune to some IRC user using an IRC client on his Nintendo DS for fun.

[2017-07-25 11:06] xPaw commented on #1342
You can probably set focus on `#image-viewer`, or call blur on `#input` and then focus it back when viewer is closed.

[2017-07-25 13:08] astorije commented on #1342
I remember trying that and it didn't work, but I didn't investigate much further. Do you want to give it a try maybe?

[2017-07-25 16:15] Jay2k1 opened #1372 "Weird mouseenter effect on nicknames in certain themes"
When nickname colors are disabled, on current master (2a7dadd), there's a weird flashing effect when you hover over nicknames and use the Morning or Zenburn themes:

![image](https://thumb.gyazo.com/thumb/1200/_6e1be0e505af11f76b30530de4d3e5fb-gif.gif)

Tested in Firefox and Chrome on macOS. Does not happen with colored nicks enabled.

[2017-07-25 16:18] MaxLeiter commented on #1372
Was added here: https://github.com/thelounge/lounge/commit/7fb527847e9da2e3a25eff9fc535f6f6a42201ee#diff-97db1f70168fb5f12457b238ff6052b5R352

[2017-07-25 16:36] astorije commented on #1372
I do break things, don't I? 😂

[2017-07-25 16:41] #1342 closed

[2017-07-25 21:51] maxpoulin64 commented on #371
If some people want to live in the past or with shitty IRC clients, I think it is their problem and not everyone else's responsibility to bend backwards to accommodate them. This is pretty much telling us to fix an issue because the other side of it refuses to fix *their* client to be compatible with the majority of people. There's no reason for an IRC client on a Nintendo DS to not support UTF-8.

[2017-07-25 21:54] gfriloux commented on #371
Your comments are pretty rude.
Not going to play this game.

[2017-07-25 23:45] astorije commented on #371
That is a very valid point, I think. In general, The Lounge tends to look forward and thinking UTF-8 only is a good think, IMO, just like we are serving with HTTP/2 automatically when we can (though not the same consequences, I know, I know).

@maxpoulin64, do I take it you think we should not do this entirely?
@xPaw, @maxpoulin64, what do you think would be the repercussions in terms of audience?

[2017-07-26 05:44] astorije commented on #1372
@Jay2k1, I could reproduce, and fixed this in #1374. Feel free to review this fix there :)
Thanks for noticing this, good eye!

[2017-07-26 06:15] leopck opened #1375 "SOCKS proxy support over corporate network"
ref (https://github.com/erming/shout/issues/690)

Currently I'm behind corporate firewall and I would like to run Lounge IRC and connect to an external IRC outside the network. Is it possible to connect Lounge IRC over a SOCK proxy to the external IRC?

[2017-07-26 06:26] gfriloux commented on #371
UTF-8 Already has a lot of chars (thousands) that does not exists on ISO-8859-15.
Emoji support by itself doesnt looks like an argument.
This doesnt mean im against a will to only support UTF-8.

If you take a more precise look at my first comment, i just added the information that encoding would need to be forced per user/chan, as previous proposals were to set it per server, which would not solv

[2017-07-26 13:44] MaxLeiter commented on #1311
we could use favico.js from http://lab.ejci.net/favico.js/

Alternatively, we could go gmails route, and ship with x (google has 101) favicons that update based on notifications (`1`, `2`...`100`, `100+`)

[2017-07-26 17:04] #1372 closed

[2017-07-26 22:11] astorije opened #1377 "Avoid emitting multiple events to the server when collapsing/expanding channel previews"
With #1366, we are sending an event on the server when clicking on the preview toggles to store the visibility there so it is preserved on page refresh.
When using `/collapse`/`/expand`, as many clicks as there are previews to collapse or expand are made to the server, causing spam there.

Improvements ideas were discussed on the original PR, but decided as non-blocking.

[2017-07-29 10:41] milindl opened #1381 "Autocomplete for channels should maybe only show channels for current server"
Current behaviour:
Autocomplete shows the list of channels across all servers that I'm connected to when I type `#`

Is it possible that only the channels for the current server to be displayed (since referencing someone to a channel in _another_ server is not usual I think).

How does this suggestion sound? I might also be able to help out if needed.

[2017-07-29 13:18] MaxLeiter commented on #1381
Am definitely a fan 👍

[2017-07-30 05:02] astorije commented on #1351
Not exactly, #1352 removes wrong mode, but doesn't add the correct one. It's an improvement towards this, yes, but not the end of it.

[2017-07-30 22:59] #1250 closed

[2017-07-31 12:03] xPaw opened #1384 "Investigate font-display"
https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display

This is starting to ship in browsers (currently behind flag in firefox and chrome). This is an easy change that should allow us to control font loading and potentially improve it on slow networks.

[2017-07-31 20:58] compuguy commented on #728
So how would this play out if your using the provided docker image? @YaManicKill

[2017-07-31 22:21] easymac opened #1389 "User list empty after refreshing page until user joins/parts a channel [v2.4.0]"
Details:
- Running from source at [v2.4.0 (8e4582f)](https://github.com/thelounge/lounge/commits/v2.4.0)
- Running  in private mode

Not sure what other details may be relevant.

Upon starting The Lounge for the first time and loading the web app, all of the user lists are available. (I assume this is because I am joining the channels for the first time)

Upon joining a new channel, its user list

[2017-08-01 02:34] Komic commented on #1337
Implementing this for private servers would probably be nice too, I don't think there's anything against bruteforce attacks right now?

[2017-08-01 04:47] astorije commented on #1337
On a private instance, I think this should only be present in an account creation page (like #914 attempt) and not at every login.

[2017-08-01 05:16] astorije commented on #1389
@xPaw, I believe that, if issue there is, it would be related to https://github.com/thelounge/lounge/pull/1194. Would you mind looking into it when you get the chance?

I can see the "0 users" becoming a "X users" on refresh, but it takes a fraction of seconds, so I can't reproduce this issue.

[2017-08-01 05:17] Komic commented on #1337
@aspic Every login seems overkill, but maybe after three failed attempts?

[2017-08-01 05:19] dgw commented on #1337
CAPTCHA protection that kicks in after _n_ failed login attempts would be good. A number of other services do it, including big players like Google.

[2017-08-01 05:28] astorije commented on #1337
So, all the time on public instance, after 3 failed logins on private instance, and whenever someone works on #914 / #641 again, there as well. This does not warrant yet another option IMO, let's make this a reasonable experience for the user, and have it where it should.

In my mind though, a captcha is so 2000s 😅 I know Google has the "I'm not a robot" thing. Is there a way we can do something t

[2017-08-01 05:36] dgw commented on #1337
That _is_ reCAPTCHA. They call it "the No CAPTCHA reCAPTCHA experience". I wasn't able to find anything offhand that would let The Lounge do it without a third-party dependency, though.

[2017-08-01 05:38] Komic commented on #1337
Sure but is there any other real way of defeating spam/bruteforce? 😕
I don't think showing one _every_ time on a public instance is needed, but hey, guess it could be a config option.

There's https://github.com/DoubleSpout/ccap & https://github.com/lemonce/svg-captcha among the very few FOSS alternatives, but I personally don't really mind using a Google service in this case.

[2017-08-01 06:06] astorije commented on #1337
Plenty, some are creative and not really preventing anything, some are very efficient but obstructive. You can see things like "Enter the result of 1 + 2" (or [what I've seen very recently, 0.1 + 0.2](https://i.imgur.com/2R0rFM0.jpg) ahah), or "What day of the week is today", etc. but those get annoying.

Because of the essence of the project (i.e. we are not Google nor any other favorite target),

[2017-08-01 07:12] Komic commented on #1337
I absolutely understand the concern, I meant that as a "I personally don't mind but I know others do".

That would probably stop random crawlers, but not an attack directed at a specific instance, though. Maybe an IP-based rate-limit? Or maybe I'm just a bit too paranoid~

By the way, kudos for your concerns about UX, The Lounge definitely feels polished. :)

[2017-08-01 08:03] xPaw commented on #1389
Odd, it indeed should load, I tested it and it works fine. If you're running from git, did you run `npm run build`?

[2017-08-01 20:20] easymac commented on #1389
Oops. Yeah, that did it. Sorry.

Closing.

[2017-08-01 20:20] #1389 closed

[2017-08-02 02:50] dgw commented on #1355
I'm really glad there's a PR open to implement this. Since updating to 2.4.0 the autocomplete interfering with simple emoticons has been my number one annoyance.

[2017-08-02 07:11] Komic opened #1390 "Enabling users to set delays between connect commands"
One neat feature would be to be able to set a delay of a few seconds between two commands in order to give enough time to invite bots for example.

[2017-08-03 09:31] Komic opened #1391 "Display and log outgoing private messages"
Private discussions virtually don't exist until the recipient answers. I suggest The Lounge should open a tab and start logging as soon as the first `/msg` is sent.

[2017-08-03 09:43] Komic opened #1392 "Duplicate log entries when using two nicks"
Joining a same network/channel with two different nicks will cause the Lounge to merge them in the same logs, resulting in that kind of stuff:
[code]
Generating a unique ID for networks and appending it to what's currently being used as folder names for the logs (domain/IP) would solve this.

[2017-08-03 09:43] PolarizedIons commented on #1391
Duplicate of #590

[2017-08-03 09:49] Komic commented on #1391
Dang, how did I miss that, I searched for _/msg_. Sorry about this.

[2017-08-03 09:49] #1391 closed

[2017-08-03 09:54] Komic commented on #590
This should absolutely be a thing. Either display it wherever you sent it from or open a new tab, but it definitely should be displayed (and logged!) alongside the answer.

https://github.com/thelounge/lounge/issues/1391

[2017-08-04 20:13] mlncn opened #1393 "SyntaxError: Unexpected token ILLEGAL"
[code]
Installed as instructed (had to select the package to get the one available per `curl -sL https://deb.nodesource.com/setup | sudo -E bash` as described on on https://www.npmjs.com/package/thelounge/tutorial )

`lounge start`

[2017-08-04 20:55] astorije commented on #1393
Hi @mlncn, welcome to The Lounge!

Unfortunately for your setup, The Lounge is only compatible with Node v4 and up, which seems to be your issue here.

[2017-08-04 20:55] #1393 closed

[2017-08-05 17:07] milindl commented on #1381
Is it reasonable/useful if I come up with a PR for this idea?

[2017-08-05 18:01] astorije commented on #1381
Hi @milindl! I would wait for @xPaw to give his opinion on this before jumping on it.

I admit that I often use this "feature" myself, but it's more of a development/testing purpose, so I don't want this to impact the decision. Whatever @xPaw recommends will be fine by me, but I'm pretty sure he'll agree with you.

[2017-08-07 21:27] Bonuspunkt commented on #1172
https://mathiasbynens.be/notes/css-escapes and https://developer.mozilla.org/en-US/docs/Web/API/CSS/escape
[code]

[2017-08-08 19:41] MaxLeiter opened #1398 "Log in, reload page, "Authentication failed", have to re-login"
On master ([ff85b61](https://github.com/thelounge/lounge/tree/ff85b61)), probably due to #1199

[2017-08-08 20:32] #1398 closed

[2017-08-08 20:57] christer88 opened #1400 "First default nickname does not contain the random numbers prefix at the end of nickname"
//
                // Nick
                //
                // @type     string
                // @default  "lounge-user"
                //
                nick: "Chat_Guest_",

First default nickname does not contain the random numbers prefix at the end of nickname. This looks a bit weird when you have a user named 'Chat_Guest_' and the next one 'Chat_Guest_245' etc.

Suggest forcing the rand

[2017-08-08 22:53] christer88 opened #1402 "Simplified channel url override"
The situation today is `<domain>/?join=<channel name>` if you want to specify a channel in url to override default channel set in config file.

KiwiIRC (ref. [https://kiwiirc.com/embedding](https://kiwiirc.com/embedding)) allows for `<domain>/#<channel name>.` This is both easier to type, shorter url to link and more understandable for the users.

Would be appricate if we can get this feature in T

[2017-08-08 22:57] christer88 commented on #1402
As discussed with xPaw on IRC, if this causes issues for [#1283](https://github.com/thelounge/lounge/pull/1283) we can set this feature to only be for public mode, where it's needed after all.

[2017-08-08 23:57] astorije commented on #1398
@MaxLeiter, could you post your resolution here, for reference?

[2017-08-09 02:13] MaxLeiter commented on #1398
It was an issue with my reverse proxy/Nginx setup and was unique enough to the point where I'm sure no one else will run into it. Basically my client was using the JS from a public instance due to a missing /

[2017-08-09 05:19] astorije commented on #1400
Hey @christer88!

So, [the way this works currently](https://github.com/thelounge/lounge/blob/master/src/plugins/irc-events/error.js#L29-L32) is that when one connects to a server, the given nick is set, and if it comes back as "already in use", gets randomized with those added integers.

At the moment, when you click on "Connect", the system doesn't know if the nick that's sent to the server is t

[2017-08-09 14:52] xPaw opened #1404 "Stored images are not dereferenced when leaving a channel"
... or closing network, or closing the demo page.

[2017-08-12 19:27] Marlamin opened #1408 "Clicking on the bar between messages and input field should focus input"
Just switched to The Lounge, loving it but noticed one little thing that my muscle memory seems to be triggering a lot. Clicking between the messages and the text input doesn't select the input while I feel it should.

![image](https://user-images.githubusercontent.com/50212/29243668-d24f1570-7fa4-11e7-9898-62a7f6a082d1.png)

(xPaw told me to add this issue, blame him for all the confusion)

[2017-08-13 16:17] #1404 closed

[2017-08-13 16:36] #96 closed

[2017-08-14 12:11] #1139 closed

[2017-08-15 10:00] xPaw opened #1413 "Hex based colours are not stripped in cleanIrcMessage"
We have a regex to clean the message (currently used in link prefetcher, and then will be used by push notifications) which does not clean hex based colours.

https://github.com/thelounge/lounge/blob/0bc12681970ddd99450de827368805d463bf4f15/src/helper.js#L134-L137

[2017-08-15 15:27] astorije commented on #1413
This function is a great candidate for unit tests :)
In general, functions that involve regex should be tested, or you never really know what edge cases you support...

[2017-08-15 15:52] Raqbit opened #1414 "Expanded joins do not fill chat window properly"
![Screenshot](http://i.imgur.com/se3GMB2.png)

Picture should speak for itself.

**To reproduce:**

* You should be running latest master (after condense-joins merge)
* Have someone join/leave a couple of times so lounge condenses it into a condensed join view
* Expand it on a non-mobile device

[2017-08-15 16:03] YaManicKill commented on #1414
Just a quick note that this should fix it when applied to the messages inside the condensed:

[code]

[2017-08-15 17:15] astorije commented on #1414
Will fix tonight, thanks!

[2017-08-15 17:57] RockyTV opened #1415 "Creating a new user creates a new config directory"
I've just installed lounge in my Arch Linux system and enabled the service that comes with the Arch Linux AUR package. I've changed everything I needed in `config.js`, but, after adding a new user it surprised me:

[code]

The Arch Linux service uses `/etc/thelounge` as home, but apparently when running `lounge` it automatically sets its home directory to `/etc/thelounge/.lounge`.

[2017-08-15 18:06] xPaw commented on #1415
If you provide `--home` for start, you have to provide it for all other commands too.

[2017-08-15 18:26] RockyTV commented on #1415
Both Debian and Arch Linux packages use `/usr/bin/lounge --home /etc/thelounge start`. Why is `--home` passed to those services? Why not use the default `.lounge` directory?

[2017-08-16 07:07] xPaw commented on #1415
Fixed on master now, next release will work correctly.

[2017-08-16 07:07] #1415 closed

[2017-08-16 07:56] YaManicKill opened #1420 ""true" default options can override user settings"
How to reproduce:

* Go into options
* See that "Auto-expand websites" is checked
* Uncheck
* Refresh page
* Go into options

What should happen: auto-expand websites should still be unchecked
What actually happens: auto-expand websites is checked again

It's due to [this change](https://github.com/thelounge/lounge/commit/b508783101dfc979e92221a884f87812b27633b7#diff-03ed49e301a4e588ec406bc5aace2a

[2017-08-16 08:09] #1420 closed

[2017-08-16 08:09] #1414 closed

[2017-08-16 10:59] YaManicKill commented on #85
@astorije You got that mock-up anywhere? I'd quite like to get this done in advance of doing too much plugin work (because adding plugin settings will make this really messy without it).

[2017-08-16 11:10] YaManicKill opened #1422 "Add plugin support"
There are many things that people want that we don't want to put in core. So we should have a plugin API to allow people to do these things.

I'm looking to start work on this, so I'm going to catalogue things that people will want to do with this. Once I have a first version working, I'll probably separate this into different issues for the other APIs that haven't been implemented.

Required APIs

[2017-08-16 11:18] christer88 opened #1423 "Easy access to download server/channel logs"
**Current situation:**
I go to Google Cloud Console, log in on ssh, find the correct folder and search up the command to download the log files I want. The other option is to open the log files with Nano, which is not only horrible to use but also require you to learn how to use multiple keyshortcuts.

**Suggested future**
Right clicking on a channel in TheLounge client gives you a right-click men

[2017-08-16 11:26] christer88 commented on #1423
To clearify: There are PR's for loading logs in channel from log files and to search channel text in ram. These are good functions, but neither of them is a substitute for a "Download log" as a .txt file to desktop/phone. Being able to download logs will make my days much better, and probably others day as well.

[2017-08-16 11:33] YaManicKill commented on #1423
As discussed in the IRC, I think this would be a good idea.

I think we should have an entry in the context menu, which says "Download logs", and shows a modal which allows you to choose between today's logs, the last week's logs, or "all" logs that you have.

[2017-08-16 11:37] christer88 commented on #1423
Probably need to .zip the log files when choosing "all".

[2017-08-16 11:49] MiniDigger commented on #1422
having never touched node.js this might sound stupid but is it feasible to make an event driven api?
like have events for messages receive in channels, pms, events for send messages, events for closing and opening a window or the whole client, stuff like that.

it also would be cool to have an api to provide new options for context menus (on users, on channels, on networks, on messages, ...)

thos

[2017-08-16 13:16] astorije commented on #1420
Sorry, another bug of mine 😅

Shouldn't we have checked [one of these](https://stackoverflow.com/a/22728565) instead?

[2017-08-16 13:23] astorije commented on #1423
Agree with the feature, but I think this might be over the top. Since logs are not rotated, just appended to the same file, "Download logs" should just download the entire file. Time range might be a niche feature that would be rather expensive to maintain over time.
I propose simple download at first, and if needs be, we can expand.

Also, looking at my own logs, most are in the kb, a few are in

[2017-08-16 16:00] christer88 commented on #1423
Agree astorije

[2017-08-16 22:58] dgw opened #1428 "Focus input when typing into "nothing""
Actions like clicking a link in the chat can put the focus outside the input, after which sending another message requires clicking the input box again.

One of the things I love about my desktop client (Textual) is that it will focus the input if I start typing but the focus is not in the input. Would it be practical for The Lounge to do this? Would it conflict at all with accessibility concerns

[2017-08-17 06:07] astorije commented on #433
Duplicate of https://github.com/thelounge/lounge/issues/935 (which has more details).

[2017-08-17 06:07] #433 closed

[2017-08-17 06:15] astorije commented on #1428
I like this a lot!

It would solve an accessibility issue (https://github.com/thelounge/lounge/issues/935) on top of the usability issue you mentioned. We could essentially remove that focus trap that prevents leaving the message input.

This would need to be available only if:

- Focus is currently not on any other input
- Key pressed is only a printable one (i.e. not on <kbd>Enter</kbd>, <kbd>Up

[2017-08-17 06:27] astorije commented on #85
Damn, I could swear I posted this, sorry! See it at: https://fishmonger-christopher-73101.netlify.com/

Note that it's a really gross, way outdated, not optimal (at all) "interactive" mockup and definitely not what I envision right now, i.e. 1.5 year after making them (damn!) 😅.

I am happy to make a temporary repo or whatever so we can build mockups together before jumping on implementation. [Wha

[2017-08-17 07:49] xPaw commented on #1428
I honestly do not like this idea at all. I have not see any other software do it this way either.

Doing this we're most likely going to break some key binds (e.g. screen readers), and maybe people will unintentionally send messages.

We would have to introduce a lot of checking (is in other input, is key bind, is in other window like help, etc, etc) for a minor feature, imo.

The input is focused

[2017-08-17 12:48] YaManicKill commented on #85
It's not ideal, obviously, but I think it's the sort of thing I was thinking of. I'm so bad at mocking things up, it's probably easiest for me to just do it if I was planning on doing it, and seeing what people think. I'm ok with people saying "No, that's not what we want at all.".

[2017-08-17 17:11] xPaw opened #1429 "Clear user search input when toggling user list"
1. Open user list
2. Search for a nick
3. Close user list

[2017-08-17 17:35] dgw commented on #1428
It happens when middle-clicking links to open in a background tab, for example.

This isn't a good reason to make any decision, IMO. Just because "nobody else is doing it" doesn't mean it's not an improvement (and I provided an example of software in the same domain that does precisely this). I'm aware there are potential conflicts with screen readers, etc., but that's why @astorije is seeking acc

[2017-08-17 17:43] xPaw commented on #1428
Good one. That specific case (and common I imagine) case can most likely be fixed.

There are certain expectations a user will have, and I imagine entering a message while there is no focus in the input is not one of them.

[2017-08-17 17:52] dgw opened #1430 "Can't /part other channel than active one"
I was confused earlier when I did `/close nickname` to close an inactive query window, and The Lounge instead parted the currently active channel.

Then I tested also `/part #backgroundchan`, and it again left the current channel instead.

For channels, this can be worked around with `/quote PART #channel`, but I'm now not aware of any way to close a query without switching to it or using the side

[2017-08-18 03:19] astorije commented on #85
@YaManicKill, I'd be glad to help on the mockup if you want.

That channel chooser sucks, it doesn't scale at all. I had another idea, much nicer, but never found time to mock it. I'll try to see if I can do that over the weekend, but I'll prioritize push notifications first or @xPaw will kill me :D

[2017-08-18 03:22] astorije commented on #1429
You sure though? I think it's actually better as it is.

Adding a &times; button on the right of the search field to empty it when typing stuff would be very useful however (but a different story), to quickly cancel/reset search.

[2017-08-18 03:40] astorije commented on #1428
Telegram (native app on macOS) has a mix of what we have and what this issue proposes (but much closer to this proposal than our solution), and it works really nicely. It's super intuitive and doesn't mess the focus nor user intent.
I'll try to identify what exactly differs between us, them, and this proposal.

Actually, Slack has this too, and I didn't even realize it until now even though I am u

[2017-08-18 04:02] astorije opened #1431 "Previews with a thumbnail but no description look odd"
Example:

<img width="488" alt="screen shot 2017-08-13 at 12 11 44" src="https://user-images.githubusercontent.com/113730/29443782-66ed8a34-83a8-11e7-9ec4-512fb9248e1b.png">

Should we vertically center the title when there is no description?

[2017-08-18 04:06] astorije opened #1432 "Switching between condensed/expanded options for status message does nothing before reloading the app"
This means that on mobile, users will need to close the application and open it again. On desktop, they will need to figure out that the option does work but only after refreshing.

Ideal solution: re-render the channels when switching the option.

Non-ideal solution until the above can be done: refreshing the page when changing this option. Problem is it's disruptive for the user as the settings

[2017-08-18 17:57] dgw opened #1433 "Tab-completion of channels unavailable with auto-complete disabled"
I disabled auto-complete for the time being because I kept ending up with emoji instead of simple emoticons (see #1355), and am consistently surprised that I can tab-complete nicks, but not channels with auto-complete turned off.

Personally, I would like tab-completion to be available for both nicks and channels, even with the full auto-complete functionality disabled—hence the issue title—but at

[2017-08-18 18:00] xPaw commented on #1433
Nicks can still be completed because it's handled by a different library (we have two at the moment, one for just the tab key and the other for @ and the UI). Ideally your issue should be handled whenever we get rid of the secondary library.

[2017-08-19 18:20] dgw opened #1436 "Allow to "/cycle" current channel"
I occasionally find it necessary to part and rejoin channels, be it to fix some permissions issue with ChanServ or to prod ZNC into rejoining a stuck channel, etc.

Not to keep stealing ideas from Textual :grin: but it does have a `/cycle` command that does precisely this: It parts the current channel, and then rejoins it.

Maybe this would even be a good first "real" contribution (code, not just

[2017-08-19 19:14] xPaw commented on #1436
Yes!

[2017-08-19 21:03] astorije commented on #1436
I'm not sure I get the use case for it as I have never needed it, but I'm not using ZNC nor have had issues with ChanServ, so I'm not the best person to be in favor or against this, I'm fine with it if @xPaw is fine with it.

However, reading your description, I don't think `/cycle` is the best terminology for it. I think `/rejoin` would work better (after all, you've used that word 3 times in you

[2017-08-19 23:28] dgw commented on #1436
I stole the command name from Textual too :grin:, what if both commands are exposed? The Lounge is the most Textual-like IRC experience I've found, either for web or non-Mac in general, so if I'm gravitating toward it for that reason I can't be the only one.

Presumably by using parts of the internals from each command, not calling their functions directly? I'll give the command code a closer look

[2017-08-20 07:41] xPaw commented on #1436
While true, `/cycle` is a decade old command and we shouldn't have our own name for it. https://www.google.com/search?q=irc+cycle+command

[2017-08-20 16:47] astorije commented on #1436
I don't think that's the right way to look at it. The Lounge is not a decade-old client, and is not trying to look like a decade-old one either. People have reported switching to The Lounge for its modernity, we shouldn't think like that.
If something is more logical and practical to use, then it should be what we go for.

Anyway, in this very case, we should definitely have a `/cycle` alias, but

[2017-08-21 13:54] YaManicKill commented on #1436
I'm good with this.

I definitely think `/cycle` should be included, becasus ethat's the terminology that many people use, but I'm fine with `/rejoin` being added as well.

[2017-08-22 09:13] xPaw opened #1440 "Send Accept-Language in link preview requests"
Some sites prefer to get language by *server* ip, so sending accept-language might help in this case.

Twitter profile descriptions are shown in german for me as my server is hosted in Germany.

[2017-08-22 13:23] #1355 closed

[2017-08-22 13:35] #719 closed

[2017-08-22 20:15] xPaw opened #1441 "Streamline notification settings"
2.5.0 adds push notifications, and we want to get the UI and UX right for the settings before we release.

As we discussed with @astorije, we decided that 3 (or 4 depending on how you look) is the best way to go here, this will accomplish different workflows that users want, and account for platform differences.

- No notifications
- Notifications only when the app is open
- Notifications only whe

[2017-08-22 20:17] xPaw commented on #1076
🚢

[2017-08-22 20:17] #1076 closed

[2017-08-23 11:11] YaManicKill commented on #1441
So, for a default, number 3 definitely makes sense.

However (and I realise this won't work just now because we need to get settings sync sorted out) it would be better if we have these as options for the user, because these are entirely subjective settings.

[2017-08-23 11:12] xPaw commented on #1441
Default would be no notifications. Do keep in mind that notifications require a permission that the user has to enable in the browser.

[2017-08-23 11:18] YaManicKill commented on #1441
Obviously, I meant default after enabling notifications.

[2017-08-23 11:19] xPaw commented on #1441
I think the idea is to make these checkboxes/radio, and it would ask for permissions when you select the option you want.

[2017-08-23 11:19] YaManicKill commented on #1441
Oh right, so on a client-per-client basis? That would make sense.

[2017-08-23 11:19] YaManicKill commented on #1441
I guess this doesn't solve the "client open on another machine" problem, then?

[2017-08-23 11:20] xPaw commented on #1441
Server already pushes to clients (sessions) that are not online. And we will only need to register web push with the server if client wants to get offline notifications.

[2017-08-23 11:23] YaManicKill commented on #1441
I'm obviously not explaining myself properly.

Current situation:

1. I have a desktop and a phone
2. Phone is registered for push notifications
3. Lounge is closed on phone
4. Lounge is open on desktop
5. When I get a highlight, I get a notification on phone

Ideal situation:

1. I have a desktop and a phone
2. Phone is registered for push notifications
3. Lounge is closed on phone
4. Lounge is o

[2017-08-23 11:25] xPaw commented on #1441
@YaManicKill It worked this way before, when any client was attached, it would simply not send any push notifications. There's certainly different use cases that different users want here.

[2017-08-23 11:31] YaManicKill commented on #1441
Yeah, I'm not asking for this to be a default, just that it can be done at some point. What I was saying was I originally thought this ticket was for this feature, but it isn't, is it?

[2017-08-23 13:40] Jay2k1 commented on #1436
I learnt this command as `/hop` (that's what mIRC uses). Textual, fwiw, has both commands (`/hop` and `/cycle`) for the same action.

The reason behind naming it "hop" might be that the mIRC command has an optional channel argument, and if given, it parts the current channel and joins the give one. If you omit it, it just rejoins the current channel by `part`ing and `join`ing it. It also has an op

[2017-08-23 13:54] YaManicKill commented on #1436
That seems like an odd command, to be honest. And `/hop` could be confusing as it could be expected to be like `/op` instead of `/cycle`.

I suggest we do `/cycle` and `/rejoin`, and when we get plugins started (I'll be starting work on this once #1266 is merged, I promise) then someone can create one to make this command if they want. Sensible?

[2017-08-23 14:40] YaManicKill opened #1447 "Custom CSS plugin"
As we have the wiki page for some custom css, maybe we should support "partial themes" or "custom css plugins" that you can have multiple of, so we can share these tweaks in an easier way.

I imagine it would work exactly like the #1266 does, but it'll include all of the ones you have, you don't select one of them.

Maybe we should have a way to select them in the client, but I'll think about that

[2017-08-23 14:42] xPaw commented on #1447
I imagine this plays nicely with the plugins in general. If specified as a plugin (not theme), let it have an array of css files that lounge should additionally load.

[2017-08-23 14:53] YaManicKill commented on #1447
Yeah, good plan. It's not a "theme" as such, so a "plugin" would make more sense rather than creating a whole new category.

[2017-08-23 22:51] dgw commented on #1436
`src/plugins/inputs/mode.js` already exports a `/hop` command (and `/dehop`), for halfop.

Is it just me or is there no input plugin for `/join`? I found `src/plugins/inputs/part.js` but no corresponding file for `/join`… :confused:

[2017-08-24 04:29] astorije commented on #1447
That's a pretty cool idea!
It turns out, you can already do a lot with CSS only, so yeah, that'd be great. I remember seeing a couple of CSS-only packages for Atom and thought it was a pretty good idea at the time 😅

One thing though (I believe that's what @xPaw meant but I'm not 100% sure), instead of make them a special type of plugins (or themes), I'd call it a Custom CSS API or whatnot, and pl

[2017-08-24 07:18] xPaw commented on #1436
`/join` is just bypassed to the server, as there is no need to implement it for us.

That basically still does what cycle does, so we don't have any confusion there.

[2017-08-24 07:54] YaManicKill commented on #1447
This is what I understood from what @xPaw suggested, and I agree. Plugins are plugins.

[2017-08-24 08:13] xPaw commented on #1447
We can basically just have `lounge.stylesheets` array in `package.json` and just loop through it for every loaded plugin and add `link` in `index.html to load each one of them.

[2017-08-24 08:18] YaManicKill commented on #1447
We can basically just have `lounge.stylesheets` array in `package.json`

Well, let's not define where they have to put them. The file doesn't matter, as long as it is coming in the default file that we require. Because plugins that want to do a css tweak as well as something Javascripty will need to provide us a JS file rather than the package.json, and realistically we don't care.

We'll import t

[2017-08-24 08:19] xPaw commented on #1447
@YaManicKill Pretty much, mostly the same logic that we use for themes.

[2017-08-24 09:01] #1086 closed

[2017-08-24 09:39] Jay2k1 opened #1450 "Wrong order and date marker when using collapsed events"
Steps to reproduce:
* make sure you've enabled condensed events in settings
* Join a channel with at least one other user and ~no activity
* wait until the day changes and create an event, for example op the other user
* optional: type something to get one more date marker

The result looks like this:
![image](https://user-images.githubusercontent.com/2070503/29659294-1496cf5a-88be-11e7-9702-290e9

[2017-08-24 10:03] bews commented on #1450
IIRC it is fixed in https://github.com/thelounge/lounge/pull/1047#issuecomment-301438798

[2017-08-24 12:19] bews commented on #1450
Wrong order was fixed here: https://github.com/bews/lounge/commit/6c5688c28b65114bf7de47d08427878afe6c5d69

[2017-08-25 00:44] ssk2 opened #1454 ""Jump to" channel switcher"
It'd be nice to have a pop box that allows users to quickly switch to a DM or channel with a couple of characters, a la the "Jump to" modal in Slack.

(In Slack, cmd + k on a Mac will pop up the modal, you can start typing the name of the channel and it will use fuzzy logic to match to a channel.)

[2017-08-25 03:42] dgw opened #1455 "CTCP responses go to network lobby but do not increment message counter"
I would expect CTCP replies to be placed in the active window, but if they are going to the network lobby they should at least increment the message counter. The current behavior is quite confusing (it looks like nothing has happened, or the other client ignored the request).

[2017-08-25 04:15] dgw commented on #1454
I was going to suggest a `/goto` command, like what Textual does, but this is far better UX. :+1:

[2017-08-25 10:05] RaymondSchnyder opened #1456 "Login "stay signed in""
Hello,

I would like to ask if its possible to deactivate this feature / to modify it.
![image](https://user-images.githubusercontent.com/12892508/29709650-719b9332-898d-11e7-804a-05e614ae7e3c.png)

That the "Stay signed in" Checkbox is always checked, is from my perspective, a bad idea.
It would be better, to leave it unchecked for a better user expierence.

Feel free to correct me on this.

[2017-08-25 10:14] xPaw commented on #1456
If you really want to, you can edit this line:
https://github.com/thelounge/lounge/blob/d4e02d96fa4a9d6d25262b552e9ddabae50e9952/client/index.html#L102

[2017-08-25 10:15] xPaw commented on #1055
Now that we switched to handlebars this is easily doable. Anyone want to do it?

[2017-08-25 12:54] Jay2k1 commented on #590
I want to express that I am strongly against having `/msg` open a query window -- if I want to do that, I use `/query`. I do send bot commands a lot though, where answers are mostly being sent as notice. If this is being made a thing, I'd welcome if it was optional.

[2017-08-25 15:02] YaManicKill commented on #590
Well, the logging is simple, obviously, we'll just log it as normal. But here's a question, if you don't want it to open a query window, what should it do? Where should it show the message?

Oh goodness, no. This is such a niche option.

[2017-08-25 15:16] Jay2k1 commented on #590
In your active window, like /notice does. It is then debatable if that should always be the case, or only if there is not already an open query window for the target.

[2017-08-25 22:30] astorije commented on #1456
Hey @RaymondSchnyder, thanks for your interest 😊

However, when it comes to user experience actually, I disagree: by default, most users will not want to be signed out when closing their browser.
I checked with a bunch of website and most often, that "Remember me option" is checked in. In fact, most websites I have checked do not even have such an option (!) and none of them ask me to re-login whe

[2017-08-25 22:30] #1456 closed

[2017-08-25 23:51] ssk2 opened #1459 "No autocomplete for nicks in direct messages"
I can autocomplete a user's name in channels without problems but this functionality does not appear to exist for direct messages. This is desirable because occasionally my colleagues will only have notifications turned on for direct mentions of their name (whether in DM or in a channel).

[2017-08-26 01:17] dgw commented on #1459
:+1:

Could have sworn there was an issue open for this already, but I must have been thinking of #64, the opposite of this.

[2017-08-26 05:09] astorije commented on #590
Posting a message in the active window (channel, for example) when it's not actually sent that channel is the most disturbing thing a user can expect. In particular when sending something sensitive, the last thing we should do is having it displayed amidst messages of a public place.

It seems very reasonable to me that both `/query` _and_ `/msg` should open a window with your message on it. It's

[2017-08-26 09:35] xPaw opened #1460 ""show older messages" does not work if the buffer is empty"
Use `/clear` and click the button, it won't work.

[2017-08-26 09:52] xPaw opened #1461 "Truncate channel when switching to another channel"
Now that we don't run a 10 second timer to trim messages, idle channels do not get trimmed if you load a lot of history and then switch to another channel.

[2017-08-26 10:31] Jay2k1 commented on #590
Well, one of the world's most popular IRC clients (or at least what used to be) that I have used more than ten years seems to disagree.

![image](https://user-images.githubusercontent.com/2070503/29740563-8f07f704-8a59-11e7-8959-50a491b541ba.png)

And it makes sense. "msg" sends a (single) message, "query" starts a query, i.e. a private conversation.

![image](https://user-images.githubusercontent

[2017-08-26 15:54] astorije commented on #1461
So, one thing that I find really annoying on The Lounge is that when you switch channels, you lose your scroll. It's a shame because I believe it's not like this by default, it's something we force, no?
I'd like that when you switch channels, if you were not stickied at bottom, your scroll will be preserved.

Then the issue is what if I was not at bottom, switched, never came back. I'd say history

[2017-08-26 16:09] astorije commented on #1460
This is true on v2.4.0 as well :man_facepalming:

[2017-08-26 16:17] #520 closed

[2017-08-26 17:01] YaManicKill commented on #1460
Oh of course :man_facepalming: ... that'll be because of [this change](https://github.com/thelounge/lounge/commit/e01e21cdbe237c2ed58b9175587c8f5b6efd2252). If there are no messages, we can't send the last ID. Sigh.

[2017-08-27 05:31] astorije commented on #1055
@xPaw, would splitting this make it more difficult to localize (cf. #1271), easier, or have no effect at all, you think?

[2017-08-27 05:45] astorije commented on #590
I understand, but this is not an argument we have lived by, fortunately. 10 years ago, we were doing very different things UX-wise, things we would never do anymore.
And if we think like this, then a client that doesn't disconnect you when you exit it, or a client that's entirely web-based, these were things fairly different from most popular IRC clients, and yet I'd argue these are some of the st

[2017-08-27 08:56] MaxLeiter commented on #1055
Wouldn't have any effect

[2017-08-27 11:39] Jay2k1 commented on #590
Well, I guess using a bouncer or screen+irssi has been around for a very long time too. And as for the web, I'm not sure you could even do such a thing with the web technologies we had back then, but that's not the point here. There's no doubt that The Lounge with its features is a great thing.

Like so?
![image](https://user-images.githubusercontent.com/2070503/29748916-149d883a-8b21-11e7-97e2-31

[2017-08-28 09:05] bews opened #1467 "Keeping original user colors in themes for highlighted messages"
In my theme I want to keep the original user color in highlighted message:

![2017-08-28_11-56-33](https://user-images.githubusercontent.com/3627488/29766613-0c6067a6-8be8-11e7-8e52-f84059946c86.png)

This is what I want to achieve:
![2017-08-28_11-56-56](https://user-images.githubusercontent.com/3627488/29766616-0e038b4c-8be8-11e7-8d88-09f68c9aa1d7.png)

But it is not possible to disable color ov

[2017-08-29 02:13] MaxLeiter opened #1470 "/msg in lobby reports "Messages can not be sent to lobbies.""
Discovered while `/msg Nickserv` in lobby. Message still goes through.

[2017-08-29 04:20] astorije commented on #1467
Hi @bews,

Actually, you can do that in your theme:

[code]

The trick is that you re-apply the colors to the `.highlight` versions. If you have custom colors in your theme, that means just adding a second selector for the `.highlight` version, re-using your custom colors.

It's not idea, but it's possible.

[2017-08-29 04:20] #1467 closed

[2017-08-29 08:59] #1450 closed

[2017-08-29 09:31] xPaw commented on #1172
We can polyfill `CSS.escape` but that alone might not be alone, as it seems that `\` is not being escaped by that function. Any other ideas?

[2017-08-29 20:54] bews commented on #1467
I tried to do this without overriding user colors and stuck. Thx @astorije :smiley:

Also, it turned out that overriding user colors is enough to deal with this, no need for `.highlight` selector.

[2017-08-30 01:27] #916 closed

[2017-08-30 01:28] #1172 closed

[2017-08-30 14:53] xPaw commented on #666
@eliemichel Can you check if this is not a problem in your PR?

[2017-08-30 16:54] xPaw commented on #421
Will close this issue as #1471 most likely fixes this, and there's not any specific problem we can tackle besides that.

[2017-08-30 16:54] #421 closed

[2017-08-30 16:56] xPaw commented on #813
@Pugabyte can you please test if this is still a problem on master?

[2017-08-30 17:00] xPaw commented on #1459
I guess autocompletion list should contain exactly 2 names in queries, yours and the user you're talking to? Should be relatively simple to do.

[2017-08-30 17:29] xPaw commented on #606
I'm going to close this as nothing is going to happen with issue. If you want to hide these fields, you can manually edit `index.html` or edit the CSS.

[2017-08-30 17:29] #606 closed

[2017-08-30 17:32] xPaw commented on #480
SASL is supported, and `/ns` command can be sent using the `commands` array. So I'm going to close this issue.

[2017-08-30 17:32] #480 closed

[2017-08-30 17:34] xPaw commented on #1447
Related: #456

[2017-08-30 17:37] xPaw commented on #827
Is this still a problem on master? I can't reproduce it.

[2017-08-30 17:38] xPaw commented on #556
Is this still a problem on master? I am not longer able to reproduce it.

[2017-08-30 17:40] YaManicKill commented on #456
Huh, yeah, I guess this has been superseded by #1447

[2017-08-30 17:40] #456 closed

[2017-08-30 17:42] YaManicKill commented on #556
I have not seen it in a long time.

On Wed, 30 Aug 2017, 18:38 Pavel Djundik <notifications@github.com> wrote:

[2017-08-30 17:55] #727 closed

[2017-08-30 18:00] xPaw commented on #1010
This issue is not very specific so I'm going to close it.

[2017-08-30 18:00] #1010 closed

[2017-08-30 18:02] astorije commented on #1010
All screenshots are 404 now. Next time, drag-and-drop your pictures to the issue itself, so we can keep them around :)

[2017-08-30 18:03] xPaw commented on #893
We're unlikely to do this so I'm going to close this.

[2017-08-30 18:03] #893 closed

[2017-08-30 18:03] astorije commented on #1010
@xPaw, what do you mean by not very specific?

[2017-08-30 18:04] astorije commented on #727
I still think this would be valuable, no?

[2017-08-30 18:05] xPaw commented on #1010
It's basically a suggestion to use the tool, but we there's no reason to keep this issue open.

[2017-08-30 18:06] xPaw commented on #727
This can be done by taking small steps. But this issue is practically useless.

[2017-08-30 18:11] xPaw commented on #1081
Closing as duplicate of #347

[2017-08-30 18:11] #1081 closed

[2017-08-30 18:18] MiniDigger commented on #1010
urg, I really need to fix my reverse proxy,  images below

![2017-04-04_20-51-45](https://user-images.githubusercontent.com/2185527/29888151-2aff8154-8dc0-11e7-8743-b34b77a3bdaf.png)

![chrome_04_20-54-21](https://user-images.githubusercontent.com/2185527/29888165-375e70fe-8dc0-11e7-9ba9-cbd0aa61602f.png)

![chrome_04_20-55-57](https://user-images.githubusercontent.com/2185527/29888168-39b8b36e-8d

[2017-08-30 18:23] astorije commented on #556
Odd, I can still see this just like before, I have just learned to live with it lol.

[2017-08-30 20:21] MaxLeiter commented on #1459
I don't see a need to have your nick be completable

[2017-08-30 22:24] dgw commented on #827
I've not seen it in 2.4.0 or while testing master, no.

[2017-08-30 22:28] dgw commented on #1459
Need? Maybe not, but it wouldn't be the first client to do so.

[2017-08-30 23:09] astorije commented on #1459
I agree with @MaxLeiter

[2017-08-30 23:31] NinjaBanjo commented on #480
@xPaw Can you respond to @dideler 's question above? I have the same desire.

[2017-08-31 00:47] astorije commented on #1447
One element of the Custom CSS API I'd see would be a registration method. Something like `lounge.registerCssFile("my-file.css")` and that would be the lowest level to add some custom CSS.
That way, one can register files dynamically, based on config or whatever.
Then if we have other mechanisms, such as loading from `package.json` or wherever, our loader would under the hood use that same mechanis

[2017-08-31 04:15] xPaw commented on #480
Put the nick serv password in the server password field.

[2017-08-31 08:06] eliemichel commented on #666
I've added a `if (!user) { callback(false); }` from the beginning. As far as I remember, it was for this kind of issue, although I was not aware of the present bug report.

I think that when the user session is remembered, the front-end tries to authenticate as soon as the page loads, but when the token or so has expired it results in an auth with an undefined user, which I decided to just ignore.

[2017-08-31 14:55] realies commented on #827
Looks as expected even at 500% zoom (Chrome, latest stable).

[2017-08-31 14:55] #827 closed

[2017-08-31 19:12] #268 closed

[2017-08-31 19:16] #1432 closed

[2017-08-31 20:40] xPaw opened #1480 "Bigger emoji is misaligned in topics"
![31-203911162](https://user-images.githubusercontent.com/613331/29944306-bea43cb6-8ea5-11e7-9304-2dabdbeaf09c.png)

[2017-09-01 03:45] #1436 closed

[2017-09-01 05:03] dgw opened #1484 "Channel history lost when using /rejoin (/cycle) command"
Channels are removed on `part` events, which has the effect of clearing the scrollback and moving the `rejoin`ed/`cycle`d channel to the end of the list due to The Lounge internal behavior. I wasn't able to counter that in #1449, and didn't feel it so necessary as to block merging the channel-cycling command itself.

But in the interest of taking ownership—since I made a bit of a "mess" by impleme

[2017-09-01 08:23] #1480 closed

[2017-09-01 08:25] #686 closed

[2017-09-01 15:12] McInkay opened #1486 "All servers default to UTC for logging"
For some reason, [we default all logging on all servers to UTC](https://github.com/thelounge/lounge/blob/master/src/log.js#L10). The only way to get around this is to set a timezone in the config, which obviously won't change with DST.

Options:

1. Remove the option altogether
2. Remove it as a default config, but use the config if it is there

1 has the disadvantage of if anyone is actually usin

[2017-09-01 15:30] YaManicKill commented on #1486
Alright, this gets worse.

We have 2 different types of logging.

1. Server logging, just stdout, for errors and stuff
2. IRC logging, where we log the messages for a user

This much makes sense. However.... Server logging uses the timezone and format settings from IRC logging. There are no settings for server logging. Irc logging is per user, but the only logging setting per user is whether or no

[2017-09-01 15:40] Jay2k1 commented on #1486
This is exactly how I would do it.

Users who have (ab)used the current "logs:timezone" setting to set a custom timezone for the console logging (which differs from their server time) will be affected by this though. But I can't imagine that there's many users who did this...

[2017-09-01 15:44] YaManicKill commented on #1486
There is 1 question left with this that I'm unsure about.

If a user doesn't have their user log settings set up, do we default to sensible format and server time, or what the global log setting currently is? If someone has set the global userlogging settings, we don't really want that to be lost, do we?

[2017-09-01 23:45] #207 closed

[2017-09-02 00:36] dgw commented on #794
Tweaking my configs today between BitlBee, ZNC, and The Lounge. Right now I can disable flood protection in ZNC for my BitlBee network (since BitlBee doesn't care about flood). I think supporting flood protection in The Lounge is a Good Thing for everyone (keep users from getting g-lined by accident, be a good IRC citizen, etc.) but I do hope the eventual implementation will allow disabling it on

[2017-09-02 00:49] dgw commented on #879
Experienced an unexpected server outage with 2.4.0 recently, and no intervention was required. Almost as soon as SSH became available, The Lounge became available too.

Closing as resolved by unknown voodoo somewhere in the preceding few point releases. :tada:

[2017-09-02 00:49] #879 closed

[2017-09-03 11:19] #1146 closed

[2017-09-04 06:03] #557 closed

[2017-09-04 06:03] #666 closed

[2017-09-04 23:28] Jay2k1 opened #1497 "Make image viewer push state to history"
When using the built-in image viewer on the phone, I always instinctively press the back button trying to close it, but the image stays open, I just go to the previous channel underneath. I don't know if I am the only one thinking the back button should close the image and take me _back_, but I think it's a good idea.

[2017-09-05 06:09] YaManicKill commented on #1497
Yeah, this annoys me as well, I keep forgetting this happens every time I open an image on my phone.

[2017-09-05 19:36] metsjeesus opened #1501 "If you put network name same as your nick name, messaging yourself puts data on network channel"

[2017-09-06 01:44] MaxLeiter opened #1502 "/expand should not expand status messages"
`/expand` expands nicks, so `/collapse` should collapse them

Before: ![before](https://sr.ht/G4qo.png)

after `/expand`:  ![after](https://sr.ht/CoJ9.png)

after `/collapse`:  ![after](https://sr.ht/eruz.png)

[2017-09-06 06:43] MiniDigger opened #1504 "Link previews do not always get inserted on master"
I am currently on 65e4e386da7cd1d16e4c00abb0c44cd4e2e517db
as soon as I updated I noticed that some link previews fail. The preview div is there, but empty. No toggle button. No errors.
I am not too sure how to reproduce it, it could be cause by having the window open but the tab unfocused. When I was in another channel, the preview in the first channel loaded just fine. When I myself send a link,

[2017-09-06 09:01] wiiaam opened #1506 "Sorting the channel list"
Is there any way to sort the channel/queries list? Currently it's sorted by last joined, would be cool to be able to sort this alphabetically, as it can be a hassle to find a channel when you're in a few.

An ideal sort would be channels at the top, queries at the bottom. Channels sorted ignoring hash symbols, so that double hash ## channels can be sorted beside single hash # channels.

[2017-09-06 09:38] YaManicKill commented on #1506
Currently, it will automatically sort on restart, and you can manually reorganise them, but there is nothing else.

Closing as a duplicate of #53

[2017-09-06 09:38] #1506 closed

[2017-09-06 09:50] wiiaam commented on #1506
Cheers, didn't spot the old issue, will give it a look

[2017-09-06 10:00] wiiaam commented on #53
Anybody working on this? Might give it a go some time next week.

Was thinking of adding an option in settings to sort alphabetically, and also leave it open for other sorting designs to be added, such as the most used channels design mentioned. Starred channels also sounds like a cool idea, so I might see if I can implement this if I have extra time.

Long time user, first time contributor, so so

[2017-09-06 10:05] YaManicKill commented on #53
In general, I like this, but we need to have a think where this will happen. I imagine it'll be a server-side option, because that's where the sorting happens (I think). But that makes it awkward to edit.

Also, a "manual" option would be good that would just pop it on at the bottom and you can manually reorder them and it'll never re-order.

We really need to get settings syncing :-\ that would m

[2017-09-06 10:13] wiiaam commented on #53
Oh are settings stored locally? Never actually realized this, since I've never changed anything. I just assumed they were being pulled from the config file

[2017-09-06 10:20] YaManicKill commented on #53
We have server-side user settings, server-side global settings, and client-side settings. Client-side settings are entirely local, and don't sync at all.

The ideal situation is where the server-side user settings and client-side settings are 1 (with options to override on local machines) so for things that happen on the server, the user can edit locally, and the clients can sync their settings.

[2017-09-06 23:34] #1504 closed

[2017-09-06 23:38] astorije commented on #1502
I am surprised that `/expand` expands nicks, I missed that for sure. I really am not in favor of `/expand`/`/collapse` applying to status messages, only previews. Thoughts?

[2017-09-07 17:36] MaxLeiter commented on #1502
Agreed - not a fan of nicks expanding/collapsing

[2017-09-07 23:51] astorije commented on #1502
Mind renaming this into "/expand should not expand status messages" or something?

[2017-09-07 23:55] MaxLeiter commented on #1502
Done

[2017-09-08 16:29] MaxLeiter opened #1510 "Handle RPL_NOWAWAY and RPL_UNAWAY"
ref: https://github.com/kiwiirc/irc-framework/pull/108

[2017-09-09 14:47] #1502 closed

[2017-09-10 20:46] iamstratos commented on #1035
I think I could help you. It's my first contribution though. Is it a css job?

[2017-09-10 23:00] MaxLeiter commented on #1035
Should be just CSS, @iamstratos. If you need any help, be sure to hop onto #thelounge on freenode and ask any questions.

[2017-09-11 03:52] astorije commented on #1035
That would greatly appreciated @iamstratos, thanks!

[2017-09-12 05:32] astorije commented on #835
Now that we have infinite scrolling (https://github.com/thelounge/lounge/pull/1318), this is a bit more noticeable, as no user action is required for the marker to be wrongly located.
We'd definitely appreciate some contribution here :)

[2017-09-12 16:30] iamstratos commented on #1035
Should I PR to master or another branch?

[2017-09-12 18:01] MaxLeiter commented on #1035
To master, @iamstratos

[2017-09-13 02:44] dgw opened #1522 "Wrong kicker mode displayed"
In the kick message, the kicker is displayed as having the mode of the target (while the target has no mode character). I tested on `master` (at 2d61c01, specifically) on my PC, as well as with 2.4.0 in production. If I kick a voiced user, `+dgw has kicked _`. Kicking an op: `@dgw has kicked _`. As channel owner, I can also kick admins (`+a`): `&dgw has kicked _`.

I will experiment to try and fin

[2017-09-13 05:35] dgw commented on #1351
Just wanted to drop a note that I'm working on fixing both this and #1522, so both the kicker and the target will display the correct modes. Might have something by tomorrow, even, assuming I have time to kick the tires enough to make sure that it's PR-worthy.

[2017-09-13 19:11] Raqbit commented on #932
I was experimenting with the libraries @MaxLeiter noted, and except for the jquery option, they all allow
dropping outside of the parent container. This is due to the limitations of the html5 drag & drop that they use. That said I don't think we need to limit this, as long as it doesn't do anything as a result (which is the default for most of these libraries).

[2017-09-14 06:20] #1430 closed

[2017-09-14 06:25] #1460 closed

[2017-09-14 07:46] #1351 closed

[2017-09-14 07:46] #1522 closed

[2017-09-14 16:07] vpicavet commented on #392
#110 is closed but history seems not to be restored when the server restarts. Anyone confirms ?

[2017-09-14 16:08] xPaw commented on #392
It's not restored on server restart. But there is a PR to do it #663.

[2017-09-15 09:03] YaManicKill opened #1530 "Create `lounge install` command for packages"
Example:

`lounge install lounge-theme-solarized`

This should install lounge-theme-solarized into `$LOUNGE_HOME/packages`, check that it is, infact, a lounge package, and then ideally tell lounge that a theme has been added (maybe outside of the scope of the first PR).

Example 2:

`lounge install lounge-package-name`

The hsould install lounge-package-name `$LOUNGE_HOME/packages`, check that it

[2017-09-15 09:04] YaManicKill commented on #1530
I have assigned myself to this, but I haven't started work on it. Will comment when I have. If someone wants to take this up before I do it, please feel free (but comment to let me know so I don't waste time).

[2017-09-16 11:06] xPaw opened #1533 "Qutting network does not remove channel containers from DOM"
It only removes it from the sidebar here: https://github.com/thelounge/lounge/blob/59a5f6237cb3bc84637ca6c62e299d3179bbad2f/client/js/socket-events/quit.js#L9

[2017-09-16 17:06] soja92 commented on #464
Would like to see this implemented in any form. There is an announcebot spamming a channel I am in and with Lounge I have no way of ignoring it.

[2017-09-16 17:25] MaxLeiter commented on #464
@soja92 https://github.com/thelounge/lounge/wiki/CSS-Modifications#hide-messages-based-on-nick

[2017-09-16 19:50] #438 closed

[2017-09-16 19:51] #835 closed

[2017-09-16 22:04] dgw opened #1534 "Tab-complete common network service names"
I was thinking of other little quality-of-life things that my favorite desktop clients do, and one of them is tab-completing the names of network services (NickServ, ChanServ, MemoServ, etc.) along with nicks from the channel. (Here's an [example](https://github.com/Codeux-Software/Textual/blob/2c02fa4dcd5d87d1c4e828c5a9bdab8502e97a1b/Classes/Library/TLONicknameCompletionStatus.m#L278-L284) from T

[2017-09-18 01:23] astorije opened #1537 "Allow files serving in custom themes"
Themes can now be loaded from npm packages (#1266), kinda being our first public API. One improvement we could make is serving arbitrary files said packages provide. For example, 2 use cases: custom fonts and images (for `background-image` for example).

Adding a `files` property to the `package.json` file would probably be an easy way to do so, but this  addition to the API needs to be thought of

[2017-09-18 02:23] astorije commented on #728
This is resolved by #1266 🎉

[2017-09-18 02:23] #728 closed

[2017-09-18 17:42] MaxLeiter commented on #251
Is this still an issue?

[2017-09-18 17:44] MaxLeiter commented on #1111
I think this can be closed; I think @thelounge/maintainers agree this should be left to themes

[2017-09-19 04:30] astorije commented on #841
Reopening this one because switching from monospace to sans-serif in #1540 made this valid again.

[2017-09-19 07:36] YaManicKill commented on #1111
Agreed. Thanks, @MaxLeiter

This would be a good addition to a theme, and now that 2.5.0 (which will be released soon) has npm theme support, this'll be much better.

[2017-09-19 07:38] #1111 closed

[2017-09-19 16:30] MaxLeiter commented on #1510
waiting for new irc-fw release now

[2017-09-20 03:53] #1035 closed

[2017-09-20 04:23] astorije commented on #1111
For this to be ideal, we'd need help revamping #815 (`help wanted` / `up for grabs` 😁).

[2017-09-20 06:17] Gilles123 opened #1547 "When running master for the first time, there is no default channel"
When running from master, on first launch before there is any active channel, The Lounge just displays no channel, which appears broken on a mobile browser, and may not be clear on a desktop/larger screen. Once a channel is manually selected, it works fine going forward as it remembers what was selected. astorije mentioned they saw the same issue on first launch.

[2017-09-20 06:21] Gilles123 opened #1548 "On iOS, the user list does not seem to be scrollable"
When running 2.4.0 and the master build as of this writing, the users list does not seem to be scrollable on iOS for me. It tries to scroll the entire page. The channel list works fine. This is not an issue on Safari for Mac and only affects iOS, so I'm not sure what's going on here and my initial troubleshooting did not turn up an answer. I know it affects at least iOS 10 and 11, and I think it u

[2017-09-20 06:48] dgw commented on #1547
Hmm, #1520 might have affected this?

[2017-09-20 06:52] dgw commented on #1548
Hmm, #1520 might have affected this?

(This is the issue I meant to comment on when I did on 1547… I should stop trying to GitHub on my phone. 😂)

[2017-09-20 06:54] Gilles123 commented on #1548
I don’t think so, as that was only committed a week ago, and this issue existed at least in 2.4.0.

[2017-09-20 07:46] xPaw commented on #1548
Can you test if removing this line helps?

https://github.com/thelounge/lounge/blob/8f275c6a5554d7b7fe921174313bb9fc67148702/client/css/style.css#L1289

[2017-09-20 08:03] xPaw opened #1550 "Open correct channel when clicking on push notifications"
This should be done after #1468 is merged. @MaxLeiter added support for `#chan-` location hashes, so it should be doable if the app is offline.

If there is a web page open already open however, it needs to use `postMessage` to send `open` command to the open client.

[2017-09-20 08:11] #1530 closed

[2017-09-20 13:00] xPaw opened #1551 "Split style.css into subcomponents and preprocess css as a build step"
Our style.css is over 2000 lines long, and it's a mess. We definitely need to split it into some smaller components like we did with javascript code.

And then as a build step have it assembled and minified (auto prefixed too!) into a single file.

[2017-09-20 14:30] Gilles123 commented on #1548
That was the first thing I tried and it didn't work. I just tried removing all instances of it from the css file, and THAT worked. I'll have to see if there's a way to keep it and not have it break things when I have a bit more time later today.

[2017-09-21 01:30] #1547 closed

[2017-09-21 06:04] Gilles123 commented on #1548
I've been testing various things for a few hours and haven't come up with anything that works while keeping any instance of that in the css file, and most of the solutions I was finding online for this are pretty hacky. All instances have to be removed for it to work at all, which of course means you lose momentum scrolling on mobile WebKit.

[2017-09-21 10:59] #841 closed

[2017-09-21 16:33] MaxLeiter commented on #1548
Can you try adding `$('.names').on('touchstart', function(event){});` to `client/lounge.js`?

[2017-09-22 05:18] Gilles123 commented on #1548
Unfortunately doesn't seem to have any effect.

[2017-09-22 17:49] Gilles123 commented on #1548
When I tested yesterday, it wasn’t working and now it is. I think I know what changed, but won’t be able to test until later today. I’ll follow up then.

[2017-09-22 18:03] #1497 closed

[2017-09-22 20:24] ssk2 opened #1557 "Auto reconnect"
I use Lounge on my laptop and frequently move between meetings, suspending and resuming my laptop. Typically it'll disconnect when I suspend and then fail to connect when I resume. I normally go back to the tab and then realise that it has disconnected. It'd be helpful if there was a mechanism to automatically reconnect when able to (or to periodically retry).

[2017-09-22 20:24] xPaw commented on #1557
It's coming in next version.

[2017-09-22 20:24] #1557 closed

[2017-09-22 21:02] realies commented on #867
What would be an acceptable layout change for this? Perhaps dynamically oriented arrow that appears upon hovering the server name?

[2017-09-23 00:28] Zbob750 opened #1558 "Fonts are huge after 3eaf12"
[This commit bumped font sizes](https://github.com/thelounge/lounge/commit/3eaf12cc36400f6698286dda8c9200cf546d6104) and, in my opinion, you've gone to the extreme.
On Desktop it feels just a little big, but really not anything that should cause problems. However, on mobile this change impacts usability. It has diminished the amount of content that fits on screen.

<img src=https://i.imgur.com/cdg

[2017-09-23 01:01] MatthewDwyer opened #1559 "Resetting a user's password requires The Lounge to be restarted before they can login."
Maybe I am doing something wrong, but if I use lounge reset joe to change joe's password, he can't use the new password until I restart The Lounge.  Shout has the same issue.

[2017-09-23 01:03] MatthewDwyer opened #1560 "Feature request: Allow non-interactive user creation."
When I add a new user to The Lounge, the password entry is interactive only.  I have not found a way to provide the password as part of the command line.  Am I missing something?

[2017-09-23 01:06] astorije commented on #1558
I understand about the reduced amount of content (though 25 lines as shown on your screenshot is still more than what Telegram would show you for example) but readability _is_ better as it is right now, as in it's less hard to read.

I'm going to run some more tests to tweak the current size, but I am certainly against a simple revert.

[2017-09-23 05:27] Gilles123 commented on #1548
After a bunch of testing, it turns out it's not your line that did it after all. It just starts working the second time you click a channel (i.e. a channel has to be selected first, switched to another one, and then come back). I don't know enough about what events get triggered when you do that to understand what's happening there.

[2017-09-23 05:52] dgw opened #1563 "Image prefetch: Abort if Content-Length exceeds maximum"
Discussion in #1554 got me to look at the link prefetch code for images, which I had assumed would not try to fetch images in excess of the configured `prefetchMaxImageSize`. Apparently, the code instead fetches image data until either the response ends (the image size is below the limit) or the buffered data exceeds the limit (at which point the request is aborted).

With the default maximum imag

[2017-09-23 06:28] astorije commented on #1560
Hi @MatthewDwyer!

It is indeed not possible (nor desired security-wise) to enter the password on the command line.
This was already suggested in https://github.com/thelounge/lounge/issues/353, and I believe that will give you a good overview of the consequences of doing so, as well as alternatives to create users non-interactively :)

Hope that helps!

[2017-09-23 06:28] #1560 closed

[2017-09-23 06:36] astorije commented on #1559
This is a known issue unfortunately, see https://github.com/thelounge/lounge/issues/598 and https://github.com/thelounge/lounge/pull/779#issuecomment-265508333.

Reason is because currently we only "watch" creations and deletions of user configuration files. When a password is modified, nothing happens.

It is probably not a difficult thing to do if you want to try helping with a contribution, but

[2017-09-23 06:36] #1559 closed

[2017-09-23 07:57] xPaw commented on #1548
@Gilles123 Is it related to #1556?

[2017-09-23 08:00] Gilles123 commented on #1548
Nope, it's unrelated. That's just a thing I noticed/was annoyed by while testing this, but it's a separate issue. What I know right now is that most recent comment.

[2017-09-23 08:39] xPaw commented on #1563
This can be handled in `response` callback which is unaffected by that PR.
https://github.com/thelounge/lounge/blob/f85686bcb247dcd59b8bbe195f204f82a6f723ad/src/plugins/irc-events/link.js#L161-L167

Maybe along with aborting we should start emitting errors "Image is too big, not displaying preview".

[2017-09-23 08:47] xPaw opened #1564 "Opening network menu and resizing the window results in empty space"
![23-084409619](https://user-images.githubusercontent.com/613331/30771634-f07d8326-a054-11e7-8bbb-24b86d870fcf.png)

Opening the menu adds `menu-open`  class, which opens it on mobile window, but resizing the window to desktop size moves it even further.

[2017-09-23 16:09] astorije commented on #1563
I wish I kept my commit doing that 😅

[2017-09-23 17:07] #1564 closed

[2017-09-23 17:14] xPaw commented on #754
I am going to close this as we have not had any updates on this.

[2017-09-23 17:14] #754 closed

[2017-09-24 04:18] realies commented on #867
A dynamically oriented arrow bound to the collapsed state that appears upon hovering or next to the network name, or an collapse/expand option in the network context menu seems like a sensible layout approach for a visual trigger. The state change has to be communicated to and from the back-end, and it has to be propagated to the specific network in the networks section of the user's json file.

[2017-09-24 20:11] ssk2 commented on #1557
That's great to hear, thanks @xPaw.

[2017-09-25 04:49] astorije opened #1569 "Websockets tests have become flakey on Travis CI"
We now often see [these tests](
https://github.com/thelounge/lounge/blob/90ae5dbefc3a5864e11d200e3c9fa905e0dab0e6/test/server.js#L37-L104) fail on Travis, with the following failures:

[code]

<details>
<summary>Failure details</summary>

[code]
</details>

As far as I could tell, these failures started to happen after https://github.com/thelounge/lounge/pull/1124 got merged.
@xPaw, do you have an

[2017-09-25 08:05] YaManicKill opened #1571 "Auto reconnect doesn't change where the unread markers are"
Reproduction steps:

1. Open page A
2. Remove connection from page A to server
3. Open page B (ensure page A still isn't connected, so you'll probably need to use another computer
4. Read some messages on page B for channels that had unread messages on page A
5. Wait for some new messages on those channels (without reading them)
6. Reconnect page A

What should happen: unread marker moves to the n

[2017-09-25 08:07] xPaw commented on #1571
Gotta add unread marker syncing in this block: https://github.com/thelounge/lounge/blob/90ae5dbefc3a5864e11d200e3c9fa905e0dab0e6/client/js/render.js#L191-L210

[2017-09-25 08:30] xPaw commented on #1569
I have a feeling vapid keys are failing to generate (not enough entropy on travis?) and causes the tests to fail. Maybe we just need to add a vapid keys file with some keys to fix it.

[2017-09-25 18:23] #1470 closed

[2017-09-25 18:24] MaxLeiter commented on #1470
This was fixed at some point

[2017-09-25 20:11] #1563 closed

[2017-09-25 20:12] #1569 closed

[2017-09-26 07:35] #510 closed

[2017-09-26 07:43] YaManicKill commented on #1441
I know this isn't fully complete from #1468, but we aren't going to put any more PRs into 2.5.0 from this, so I'll take the milestone off it.

[2017-09-26 08:57] #1223 closed

[2017-09-26 13:19] astorije commented on #1441
Eh, I guess. @xPaw, what do you think?

[2017-09-26 13:19] xPaw commented on #1441
I'm fine with that.

[2017-09-26 14:03] dgw opened #1574 "Disconnections during load on mobile"
I have The Lounge pinned to my home screen on Android so it behaves like a pseudo-app, but when I open it there's a solid chance (in a small sample, over 50%) that once TL has loaded it will immediately go to its "Disconnected from server" mode (with the red banner/button above the input box) and need to be reloaded.

This has been the case on my device (Nexus 6 running Android 6.0.1) for a few mo

[2017-09-26 14:14] xPaw commented on #1574
How many channels total do you have on your account?

[2017-09-26 14:14] YaManicKill commented on #1574
This is bigger than a single issue, that is being fixed in a number of smaller ways.

#1471 will enable it to reconnect without reloading, meaning you don't get stuck in a loop. Meanwhile, #1145 encapsulates the need to only send 1 channel to start with.

[2017-09-26 14:19] YaManicKill commented on #1574
Closing as duplicate of #1145

[2017-09-26 14:19] #1574 closed

[2017-09-26 14:49] xPaw opened #1575 ""init" does heavy cloning on the server"
Every chan object is cloned in `toJSON`. And on reconnection the entire network is deep cloned to implement lastMessage.

https://github.com/thelounge/lounge/blob/da31317156047000819fa0363c435005104aa572/src/server.js#L435-L437
https://github.com/thelounge/lounge/blob/da31317156047000819fa0363c435005104aa572/src/models/chan.js#L129-L130

[2017-09-26 15:03] dgw commented on #544
Might get fixed as a side effect of reducing the frequency with which the server sends the whole user list to the client, which I've volunteered to work on. We shall see!

[2017-09-28 13:41] Jay2k1 opened #1581 "CSS: Separator between nick and message is a bit off"
I just updated to da31317 and noticed that using the morning theme, said separator is not a continuous line anymore, hence messages start at different x offsets:

(increased contrast to make separator more visible)
![image](https://user-images.githubusercontent.com/2070503/30969356-688ea71c-a462-11e7-93de-6e94610132c7.png)

Apparently this happens due to different timestamp widths (if it contains

[2017-09-28 14:39] YaManicKill opened #1582 "New messages line disappears occasionally"
When loading a channel with new messages, I'm occaisionally seeing the "New Messages" heading, but not the line that goes along with it. If I switch to another channel and wait for new messages in that one again, the line is still not there. It won't come back until a refresh, but then it'll start happening with other chans. Not sure what causes it in the first place.

Example: ![](https://files.y

[2017-09-28 15:25] xPaw commented on #1582
This happens when zooming the page down. It rounds the 1px border down and that hides it.

[2017-09-28 15:26] YaManicKill commented on #1582
Sometimes. Not all the time. It's a very odd bug.

[2017-09-28 19:35] astorije commented on #1582
If that's a zooming bug, then it's a browser bug and there isn't much we can do about it, no?

[2017-09-28 19:38] astorije commented on #1581
This was introduced by #1540 and I remember now why I stopped when I played with native font stack a while ago. Lato had fixed width for numbers if we had kept it (and I'm not saying we should have, I'm very happy with native stack!).
Actually, are you using a custom font, @Jay2k1?

Apart from giving a fixed width to the time column, I'm not sure what alternatives we have. Thoughts?
By the way, to

[2017-09-28 19:39] astorije commented on #1575
I read on the channel it's more noticeable now. Would that need to be fixed v2.5.0? Totally fair if it does.

[2017-09-28 19:40] astorije commented on #1571
Pretty sure we should make this part of v2.5.0, no?

[2017-09-28 19:40] astorije commented on #1558
Resolved by #1561.

[2017-09-28 19:40] #1558 closed

[2017-09-28 21:30] Jay2k1 commented on #1581
Nope, just using the morning theme, no custom font. I actually disabled my custom CSS to test before filing the bug, just to be sure.

And I agree that this should be fixed somehow before release.

[2017-09-29 07:28] xPaw opened #1584 "Crash when disconnecting from a network"
[code]

Introduced in 79eb83d82ff48a58aac7bc1bd6a44ece5ef85dcc

When disconnecting, server emits `Closing link` error, but the client removes the reference to network instantly, so it pushes the message into an already non existent network.

[2017-09-29 16:21] Thumpxr opened #1586 "Thelounge crashes | systemd Error: ENOENT client/themes"
Hey,

running latest Lounge version. I cant reproduce the crash, it just happens.

systemd service running lounge

Error in jounalctl -u thelounge

[code]

Said thelounge.service file of systemd:

[code]

[2017-09-29 17:47] dgw commented on #911
I'm lining up issues in various repos that I might want to try and tackle during Hacktoberfest, and this looks like a good candidate—especially since I would love to have this more than ever. Would be great if a maintainer could assign me (I'm using assigned issues as a shortlist of what to work on during HF). :smile_cat:

[2017-09-29 20:48] HartS commented on #1220
Many apps (slack, hipchat, github) provide a shortcut (usually ctrl+/ or shift+/) to toggle the list of keyboard shortcuts. I personally find this convention helpful. In all of those examples, this help window is a modal as well, though the important thing is that the help window can be disabled/removed and any other state is preserved.

[2017-09-29 21:50] astorije commented on #1586
Closing as it was marked as `invalid`. I'm guessing you got this resolved on the IRC channel or something.

[2017-09-29 21:50] #1586 closed

[2017-09-29 21:53] #1584 closed

[2017-09-29 21:57] astorije commented on #1581
@Jay2k1, by "native font stack", we refer to using the system font of your OS, see [this](https://github.com/thelounge/lounge/pull/1540/files#diff-97db1f70168fb5f12457b238ff6052b5R18).
This also means width will slightly differ based on OS, so relying on fixed width is a bit clumsy...

@xPaw, do you have any idea?

[2017-09-30 09:32] xPaw commented on #1581
@astorije set width on `.time` like it is set on `.from`.

[2017-09-30 11:29] xPaw opened #1592 "Verify username consistency"
I've noticed that in some places there are checks that check if the file name `{username}.json` exist, but there is also a `username` field inside of the file that is also used. There may be inconsistency in that.

[2017-10-01 01:39] astorije opened #1594 "Remove deprecated support for `--home` and `$LOUNGE_HOME`"
`--home` is currently deprecated, see:

https://github.com/thelounge/lounge/blob/d87e174644b11ba6190268d45db5a8b92edc2073/src/command-line/index.js#L11

and:

https://github.com/thelounge/lounge/blob/d87e174644b11ba6190268d45db5a8b92edc2073/src/command-line/index.js#L15-L18

As we are starting to plan for a v3, we should take advantage of it to get rid of this support and deprecation notices.

[2017-10-01 01:42] astorije opened #1595 "Remove deprecated support for boolean `debug` server option"
The `debug` server option as a boolean is currently deprecated in favor of an object, see:

https://github.com/thelounge/lounge/blob/d87e174644b11ba6190268d45db5a8b92edc2073/src/helper.js#L82-L86

As we are starting to plan for a v3, we should take advantage of it to get rid of this support.

[2017-10-01 01:44] astorije opened #1596 "Remove deprecated support for CSS filenames in server config"
Specifying a CSS file with extension is currently deprecated, see:

https://github.com/thelounge/lounge/blob/d87e174644b11ba6190268d45db5a8b92edc2073/src/helper.js#L88-L94

As we are starting to plan for a v3, we should take advantage of it to get rid of this support and deprecation notice.

⚠️ Just to clarify if reader hasn't followed recent developments, this doesn't mean we won't be supporting

[2017-10-01 09:18] xPaw commented on #1384
This is no longer necessary as we use native fonts.

[2017-10-01 09:18] #1384 closed

[2017-10-01 09:26] xPaw commented on #1534
I don't think it's a good idea to auto complete *nicknames* of these services. However adding shortcut commands like `/ns` is a better idea.

[2017-10-01 09:35] #1121 closed

[2017-10-01 09:36] #1105 closed

[2017-10-01 12:36] dateno1 opened #1603 "Can I Add Custom Emoticon?"
Can I add custom Emoticon set and menu for show list on My Server?

It common function on messenger
http://i64.tinypic.com/ok0976.png
like this

If i was paste image address manually work well but very inconvenient
http://i68.tinypic.com/2whp0lw.png
like this

[2017-10-01 15:51] astorije commented on #1603
As far as I know, all apps or systems that offer custom emoji are doing it in a proprietary manner.
Said otherwise, because we are hooking into IRC protocols, which I believe doesn't support custom emoji, there is nothing we can do. Even if we were to send something custom, other parties (i.e. any other user on the channel) wouldn't display it.

Closing it as impossible, @xPaw feel free to re-open

[2017-10-01 15:51] #1603 closed

[2017-10-02 02:24] #1581 closed

[2017-10-02 03:47] JemBijoux commented on #1055
Hey! I'd love to help out and take this on as part of Haktoberfest. Just need an evening to orient myself a bit to some of the code, so maybe have something over the next day or so...

[2017-10-02 05:10] astorije commented on #1055
We'd love that, @JemBijoux!
If this is of any help, I had attempted it very briefly in https://github.com/thelounge/lounge/commit/32c580be5618efcdb3c8b461592943f4bb426c75 but didn't move forward.
Good luck with that!

[2017-10-02 06:35] Raqbit commented on #932
I'd like to take on this for hacktoberfest, since I've been experimenting with some solutions and already have something whipped up. Planning on opening a PR for discussion soon.

[2017-10-02 12:05] PolarizedIons commented on #1147
I agree with this. Especially after #1356, the discovering of `:` for emoji completion is much harder.

[2017-10-02 12:42] PolarizedIons commented on #1226
Is this still an issue? Seems like now the options are only shown if prefetch is enabled

https://github.com/thelounge/lounge/blob/fc0af518c6dd5251123d71f54d702453ab08f6eb/client/index.html#L272-L288

[2017-10-02 13:02] PolarizedIons commented on #72
Is this still an issue? This works for me ![](https://i.imgur.com/o0A8ZAh.png)

[2017-10-02 13:48] YaManicKill commented on #1226
Nope, sorry. I misread the issue. We currently hide them. The issue is to not hide them, but show them as disabled, with an explanation.

[2017-10-02 13:50] PolarizedIons commented on #1226
Ah, also misread that a bit then

[2017-10-02 13:57] PolarizedIons commented on #813
The new message marker still appear for me with 'Hide all status messages' selected in the settings, and join/parting with another client. (on 2.5.0-rc.2). Unsure about the date marker, but I assume that would have the issue too

[2017-10-03 04:27] astorije commented on #72
Alright, I had quite the brain fart trying to play with colors on #thelounge-spam, only to realize colors don't work there.
But testing in another channel, indeed this seems fixed, and it looks like it was fixed in 2.4.0 as well!

[2017-10-03 04:27] #72 closed

[2017-10-03 05:21] astorije commented on #1147
Nah that's totally fair.
Put back in context, when this was removed, we didn't have color completion, and I thought the help was too blunt to be really helpful.

But I'm cool with an improved version that @dgw is working on (thanks!). It makes sense, and clearly there is a need for it considering the number of 👍 (@xPaw and I agreeing to remove it was probably experience bias 😅).

[2017-10-03 06:09] astorije commented on #1226
I have to say I'm torn on that one 😅

In general, good UX pattern when it comes to disabled vs. hidden feature is: can the user do anything about it? If answer is yes, give them incentive that this is around the corner with an actionable message, like a "Turn this on in the settings" tooltip or such. If answer is no, then there is no reason to frustrate a user by telling them "this is what you _co

[2017-10-03 08:19] YaManicKill commented on #72
Hurrah for accidental bug fixes!

[2017-10-03 08:25] YaManicKill commented on #1226
Well, the reason this was created was because @TheSonAlsoRises actually got confused about this because he didn't understand why it wasn't there.

Some of the users *can* do something about it, and some can't do anything directly. But they can do *something* about it, even if that doesn't necessarily mean that it will end up enabled.

What? We have a warning/info log every time someone starts up a

[2017-10-03 18:05] astorije commented on #1226
Not trying to undermine anyone here, but if a single user reported this / got confused by this, then maybe a more appropriate (or additional) response would be better documentation. I'll make sure to make this clearer as I get back into rewriting the docs.

How so? It's a sensible debug/info message to display at server startup (`"[INFO] Link previews are disabled on this instance` or such), _espe

[2017-10-03 18:31] MaxLeiter opened #1612 "Install themes without server restart"
Would it be the end of the world to have `lounge start` open a command-prompt or something? Could show usage stats, active users, 🤷‍♂️ .

[2017-10-03 21:12] Chris-Bitler opened #1613 "Provide API and way to load in custom javascript"
It would be cool if there was an easily usable javascript API built into lounge and a way to load in custom javascript files off the server for custom functionality.

[2017-10-03 21:13] #1613 closed

[2017-10-03 22:46] dgw commented on #1613
I presume this was closed as a duplicate of #1422 or something similar?

[2017-10-03 23:08] dgw commented on #1612
I suspect having `lounge start` open a command-prompt _by default_ would be unexpected, and might mess up any logging that administrators currently have set up for running The Lounge as a service unit.

What about dropping into a console for managing themes (and whatever else the package system ends up handling in the future) with a separate command? Maybe `lounge cli`, `lounge console`, `lounge a

[2017-10-04 09:04] YaManicKill commented on #1226
No, because we don't want to do that for every disabled feature. That's silly.

...

Of course it's a possible feature. It's just disabled. You are misusing language here. Sure, a user that isn't an admin can't enable it, it's not possible for *them* to enable it, but it is still possible to be done.

Documentation isn't a replacement for good UX. We disagree on what the correct UX is in this situ

[2017-10-04 09:11] YaManicKill commented on #1612
Yes, this is a good thing to do, it shouldn't be too difficult, we are already watching some things so it should just be a case of watching the directory that packages are installed in and updating things

I'm not sure this is a great solution. I think having a way to drop into a lounge console might be an idea, but seems entirely unnecessary.

[2017-10-04 15:26] xPaw opened #1614 "Await existing link expander promises"
Link previewer calls `fetch` for every url in every message, it may happen that one url is posted multiple times (in different channels), and before the response arrives for the first request, there is no real need to fire another request, something like
[code]

https://github.com/thelounge/lounge/blob/f18d0193837cac829c26cfc90361752de91f9164/src/plugins/irc-events/link.js#L38-L46

[2017-10-04 15:52] miwagner1 commented on #1422
It shouldn’t be too hard for acting on anything coming in from the irc server. A regex filter plugin like setup would work. This framework can also be used then for ignoring people, auto op people and more automated things.
I’m going to have to look into getting started with node myself.

[2017-10-06 05:45] ElizabethIsAwesome opened #1618 "mysql uri causes crash"
Someone pasting `removed` will cause thelounge to crash, and won't even launch if it's in the log. Even with preloading disabled, it will affect clients. Required me to remove the line from my logfiles before it would even launch again.

[2017-10-06 05:49] MaxLeiter commented on #1618
Please remove the URI from the issue... (also, fwiw, I cant repro on master)

[2017-10-06 06:14] ElizabethIsAwesome commented on #1618
I'm using latest version supplied via npm if that makes any difference

[2017-10-06 06:50] dgw commented on #1618
Version 2.4.0 or `next` (2.5.0 rc)?

Would be interesting if this is somehow related to urijs. @xPaw mentioned a possible crash fix by updating the library in #1604.

[2017-10-06 07:15] xPaw commented on #1618
So I just tested it, it's not reproducible on master (so we fixed it as a side effect), but is indeed reproducible on 2.4.0, and #1604 should help prevent such issues in the future.

[2017-10-06 07:15] #1618 closed

[2017-10-07 12:46] tkulpa commented on #1614
Hey i have question, where information about currently active requests that are not yet fullfiled should be stored in app? Is client object valid option?

[2017-10-07 18:14] MaxLeiter opened #1621 "Too much padding on settings page titles on mobile"
![image](https://sr.ht/Ukmq.png)

[2017-10-07 18:30] xPaw commented on #1614
It can be an object within the same file.

[2017-10-09 16:55] xnite opened #1622 "Whitelist IPs that can send X-Forwarded-For header"
While configuring nginx to forward traffic to a set of remote lounge instances, I realized then when accessing those instances directly I could set my own IP through the X-Forwarded-For header.

I'm not sure if I'm just missing something or the feature doesn't exist, but it would be nice to be able to white list IP addresses that are allowed to send the X-Forwarded-For header.

[2017-10-09 16:56] xPaw commented on #1622
Why don't you just make lounge listen on localhost or unix socket? That would solve the problem.

[2017-10-09 16:56] spangborn commented on #1622
Shouldn't your instances not be accessible except through nginx? This seems like a configuration issue.

[2017-10-09 17:00] xnite commented on #1622
@xPaw Yes I have done that, but even behind nginx if you don't overwrite X-Forwarded-For and X-Real-IP both, then it will allow this to happen. It's very easy to misconfigure.

[2017-10-09 17:01] xPaw commented on #1622
If you don't set `X-Forwarded-For` in nginx but enable `reverseProxy` in Lounge that is entirely on the admin, and whitelist will not help.

[2017-10-09 17:02] xnite commented on #1622
@xPaw true, and bad example. What about load balancing setups (such as cloudflare loadbalancing) where you have no choice but to use remote? There is no IP connection whitelisting, or x-forwarded-for white listing.

[2017-10-09 17:05] xPaw commented on #1622
I would just recommend using a web server in front of Lounge if you want more advanced filtering and whitelisting. `reverseProxy` exists with that in mind, that it would be behind a proper server that can handle it for us.

I just don't think it's worth it doing IP filtering in Lounge.

[2017-10-12 01:01] dgw commented on #1534
Lite version of this PR'd with the shortcut commands. Still happy to work on the nickname part unless it's been vetoed outright.

[2017-10-13 20:29] #1622 closed

[2017-10-13 20:30] xPaw commented on #1582
Yeah this is browser behaviour, there is not much we can (or should) do.

[2017-10-13 20:30] #1582 closed

[2017-10-14 02:17] dgw commented on #1455
Hmm, this smells like Hacktoberfest/Up-For-Grabs material, now that I think about it.

[2017-10-14 02:21] dgw commented on #1127
\*ponders tackling this while it's still Hacktoberfest\*

Shouldn't be _too_ hard to capture the `/msg` command and send its contents to a window, right?

(Right?)

:rofl:

[2017-10-14 05:06] kode54 opened #1630 "On slow devices, message pre loading causes login to time out"
On my iPad mini 2, using my crappy WiFi link, the login to my personal instance, which is connected to just over 120 channels across a dozen servers, times out every time it reaches the “rendering” state. I can see the channel list and unread message counts if I pull the left side into view. Using 2.5.0-rc.5.

[2017-10-14 05:24] dgw commented on #1630
Sounds very similar to #1574, which was closed as duplicate of #1145. (This is a known issue.)

[2017-10-14 06:40] #1630 closed

[2017-10-14 22:19] astorije opened #1633 "Left menu can be opened (with swiping) on mobile on login page"
I remember this was not possible when swiping the menu was introduced, not sure when it was broken.
This gives a rather unfortunate session list always loading...

[2017-10-14 22:30] astorije commented on #1633
I can repro on both v2.5.0-rc.5 and v2.4.0.

[2017-10-15 15:59] xPaw opened #1634 "Remove autoload warning"

[2017-10-15 16:00] xPaw opened #1635 "Autoload users on startup if LDAP is enabled"
This will remove a couple of unnecessary checks.

[2017-10-15 16:02] xPaw commented on #1635
Actually nevermind, this doesn't simplify anything.

[2017-10-15 16:02] #1635 closed

[2017-10-16 13:08] YaManicKill commented on #1582
Yeah, fairynuff. I'll write up a plugin to make it become less of an issue by making the line thicker once I've finished #1447

[2017-10-17 08:31] #1533 closed

[2017-10-17 09:49] xPaw commented on #185
@thelounge/maintainers Do we want this or not? My feeling on this is that we shouldn't do this, and update our codebase to correctly check public config variable (I added `isRegistered` at some point that should be removed) and not bind events in public mode at all (e.g. `push:register`).

[2017-10-17 10:34] YaManicKill commented on #185
As a theory, I don't have anything against this feature, as it makes sense. But I've not seen anyone want it enough to pick up the code for it. What you say makes sense until this were to happen, though. There's nothing stopping us doing 3 modes, and only binding events that public don't use in private/combined mode. So I don't think that would be a waste.

[2017-10-17 11:54] radosroka opened #1640 "Tab-Complete for nickname postfix"
Hi,

it would be nice to have tab completion with some postfix that can be customized.

e.g. :

I want to type nickname "rsroka" so I will type "rs" and press TAB. Lounge will complete it to "rsroka".
I want to set postfix " :" or ", ". So Lounge should complete "rsroka :" or "rsroka, ".

[2017-10-17 11:57] xPaw commented on #1640
Duplicate of #1176.

[2017-10-17 11:57] #1640 closed

[2017-10-17 13:26] #911 closed

[2017-10-17 16:35] MaxLeiter opened #1642 "More emoji keywords for each emoji"
Example on github:
:applaud: shows : clap: (:clap:) as an option.

[2017-10-17 19:12] Jay2k1 opened #1644 "Previews do not work with unicode URLs"
If someone posts an image hosted on a unicode domain, for example https://taytay.ıoı.com/pic.gif, no preview loads.

[2017-10-17 19:13] xPaw commented on #1644
Some work in this branch: https://github.com/thelounge/lounge/tree/xpaw/fix-unicode-urls

I also created https://github.com/request/request/issues/2797

[2017-10-18 02:56] xiurobert opened #1646 "Cannot get /irc"
Trying to run the client behind a reverse proxy gets this error.

[2017-10-18 04:08] astorije commented on #1646
Hi @xiurobert!

Unfortunately, you would need to include a lot more information in order for us to help, such as a complete error message, the configuration it is working on (npm / GitHub source? which proxy? etc.), what you did / set up / typed to get there, etc.

Alternatively, you can try your luck by [asking a question on Stack Overflow](https://stackoverflow.com/questions/ask?tags=thelounge).

[2017-10-18 04:08] #1646 closed

[2017-10-18 05:09] dgw opened #1647 "Page load fails if autocomplete disabled"
After updating from 2.4.0 to 2.5.0 on my production instance, the app simply failed to load after login, stalling on "Loading the app". The JS console showed me a nice error trace:

[code]

_(I pulled the above trace later, from my local debug instance checked out at tag `v2.5.0`. The same bug manifests on current `master`.)_

Once I found the error in the console, I kind of just jumped on a hunch

[2017-10-18 05:45] MaxLeiter commented on #1647
Here's a temporary fix. Just paste into developer tools console
[code]

[2017-10-18 05:52] MaxLeiter commented on #1647
To fix this you'll just need to add `require("jquery-textcomplete");` to top of `options.js`

[2017-10-18 08:18] xPaw commented on #1646
You didn't pass to proxy correctly (it should pass to root of lounge, not the path as is, as such lounge can't find `/irc` folder. See https://github.com/thelounge/lounge/wiki/Reverse-Proxies for correct config.

[2017-10-18 15:05] starquake opened #1648 ":-P should not trigger emoji autocompletion"
When you type something like this you will get autocompletion, which I think is annoying in this case. Especially at the end of a sentence.

`Well that was fun :-P`

You get this:
![image](https://user-images.githubusercontent.com/1044544/31726107-58425362-b426-11e7-8aa0-f3e5a126d1ca.png)

How should this be handled? Ignore anything beginning with :- ?

I can give it a go at fixing.

[2017-10-18 18:21] #1571 closed

[2017-10-18 18:21] #863 closed

[2017-10-18 18:56] MaxLeiter opened #1649 "Handle ERR_NOTEXTTOSEND (412)"
More relevant after #1627. 412 is sent when no message is passed, so if someone does a blank `/ns` (or other alias) it will be reported. Right now, `No text to send` is printed in the lobby, however it should probably show in the open channel when the message is sent.

[2017-10-18 18:57] MaxLeiter commented on #1649
Closing as its a subset of #1380

[2017-10-18 18:57] #1649 closed

[2017-10-19 08:20] YaManicKill commented on #1648
Can't do this, as @xPaw mentioned there is :-1: which would be broken by this.

An easy fix for this particular one is to change the emoji on that on to "non_potable_water" which would fix this, but that won't fix any future ones.

We need to discuss whether using `enter` to select an emoji is the right way to do things, or whether it should be `tab` instead. Also, whether we should change to the

[2017-10-19 08:37] starquake commented on #1648
I would argue `enter` is the right way to select an emoji. Here's a list of applications that uses enter to select something from an autocompletion list:

- Visual Studio Code
- The GitHub website
- Office Teams (Skype for business)
- JIRA
- Telegram
- Whatsapp Web
- Twitter
- Discord

Which made me wonder. Why is this not an issue in those apps? Discord changed to "non_potable_water"

So here are

[2017-10-19 08:45] starquake commented on #1647
This also prevents it from working on my phone

[2017-10-19 10:14] #1647 closed

[2017-10-19 18:15] BradCOnGitHub opened #1652 "Background tab activity not changing favicon"
I upgraded from 2.4.0 to 2.5.0 last night. Yesterday if there was any activity in the channel while the tab was in the background the favicon would change to a red version. Today this doesn't happen anymore.

Did this functionality go away with the new notification options that were added in 2.5?

[2017-10-19 18:24] dgw commented on #1652
I just tested this on my 2.5.0 instance with a delayed highlight from a bot. The notification sound played in the background, and the tab's favicon turned red.

What settings are you using?

[2017-10-19 18:25] BradCOnGitHub commented on #1652
OK, I see what happened now. I'll post it here in case anyone else stumbles across the issue.

I turned on the new browser notifications and was getting spammed with popups for every message in the channel because I had "Enabled notifications for all messages" turned on. So I turned that off and added some keywords for stuff I wanted popups for. I did not realize this would also disable my changin

[2017-10-19 18:25] #1652 closed

[2017-10-20 08:21] Komic commented on #1647
Oh so that's why my instance exploded the other day. At least there's a temporary fix, thanks!

[2017-10-21 08:29] ElrondMcBong commented on #872
This is reallly a missing feature in my current implementation. I like the idea of @MaxLeiter to move away-users to another user list section.

[2017-10-21 09:37] MiniDigger commented on #872
(fixed the original image)

I like the icon (either clock or just a colored circle) @astorije suggested, maybe we could even change the sorting to display active users over users who are marked as away.

[2017-10-21 15:12] dgw commented on #872
The icon would be plenty on its own. No need to make finding a user more difficult by further subdividing the list. (Anecdotally, I've never used an IRC client that used a separate section for away users.)

[2017-10-21 19:09] MaxLeiter opened #1657 "Client unable to connect"
[code]

No clue what I did to cause it. Client hangs at logging in or rendering (if already logged in).

[2017-10-21 20:29] dgw commented on #1657
Is this on master?

[2017-10-21 21:53] MaxLeiter commented on #1657
Yes

[2017-10-22 00:11] kode54 opened #1658 "Whois results in double info listing in new query"
I am running 9b065608990f5673cfb82d45d1ffb44189500cd0 plus #1631 merged into a temporary branch. Clicking on someone's name, or using /whois on them, results in a fresh query with two listings of the whois info. I traced the server<->znc and client<->server traffic:

S-Z: `WHOIS MiniDigger MiniDigger`
Z-S: `:orwell.freenode.net 311 kode54 MiniDigger ~MiniDigge some.random.host.cause.default.is.bor

[2017-10-22 09:22] xPaw commented on #1657
Can you get a stacktrace with sourcemaps loaded? Otherwise there's not much we can do.

[2017-10-22 09:23] xPaw commented on #1658
That's #1631 causing it, comment there instead.

[2017-10-22 09:23] #1658 closed

[2017-10-22 09:24] xPaw commented on #1642
#1651 brings more alternatives.

[2017-10-22 09:24] xPaw commented on #1648
#1651 changes shorthands to not include dashes.

[2017-10-22 16:08] MaxLeiter commented on #1657
If I can repro I'll get more info

[2017-10-23 20:59] MaxLeiter commented on #1657
Will re-open if I repro/get more info.

[2017-10-23 20:59] #1657 closed

[2017-10-25 00:53] miguelsaldivar commented on #1550
Can I give this a go, and can you elaborate a bit more on what you want added 😄

[2017-10-25 10:02] xPaw commented on #1550
Here you need to pass `#chan-xxx` to the url (it's already stored in notification data as `tag`.
https://github.com/thelounge/lounge/blob/40722601a20ebea0272b61ee072fe4b6a4da75a3/client/service-worker.js#L52

There's also separate line that *focuses* the channel if page is already open, in that case I'm not entirely sure what needs to be done to open correct channel.

[2017-10-25 15:23] xPaw opened #1663 "Drop node v4 support for v3.0"
Increasing minimum supported version to v6 brings many new JS features: https://blog.risingstack.com/whats-new-in-node-v6/

v4 is currently in maintenance, while v6 is active LTS.

[2017-10-25 21:08] MaxLeiter commented on #1128
Is this fixed now/still valid?

[2017-10-26 10:46] thenets opened #1664 "[Feature] Show Travis build message in one block"
Problem:
When Travis create a new build a message is sent to IRC but in 3 parts.
![image](https://user-images.githubusercontent.com/2138276/32048959-02da164e-ba2a-11e7-9d49-4f2683d536a6.png)

Suggestion:
Merge the 3 lines into only one and show the badge for build success/error.

[2017-10-26 10:48] xPaw commented on #1664
Duplicate of #659

[2017-10-26 10:48] #1664 closed

[2017-10-26 11:11] mortie opened #1665 "The Lounge is not loading, and `TypeError: a(...).textcomplete is not a function`"
I updated to The Lounge version 2.5.0 yesterday. Everything worked smoothly, but today, it just doesn't load. The network tab in the debugger looks fine, with just a bunch of 200 OK requests, but the abovementioned TypeError is in the JS console.

Here's a screenshot of how the whole page looks, including the stack trace in Firefox' debugger:

![](https://s.mort.coffee/d/img/scr-9016058.png)

[2017-10-26 11:11] xPaw commented on #1665
Duplicate of #1647

[2017-10-26 11:11] #1665 closed

[2017-10-26 11:18] thenets commented on #1664
It's not exactly duplicated.
Badge status will be awesome too.